<%= form_for @service do |f| %>
  <div class="row">
    <%= render 'shared/error_messages', object: f.object %>
    <% if @service.new_record? %>
      <h2><i class="icon-beaker"></i> New Service Listing</h2>
    <% else %>
      <h2>Editing Service</h2>
    <% end %>
    <hr>
    <div class="row">
      <div class="span1" style="width: 90px;">
        <label><i class="icon-asterisk red"></i> Headline:</label>
      </div>
      <div class="span8" style="width: 590px;">
        <p>Please create a unique headline for your service listing</p>
        <input class="span5" id="service_name" name="service[name]" 
        placeholder="e.g. ABC Inc. Next-Generation Sequencing Services" size="30" type="text" 
        data-provide="typeahead" data-source="<%= Project::SCIENCE_TYPES.uniq.sort %>"
        autocomplete="off" value="<%= @service.name %>"/>
        
      </div>
    </div>
    <hr>
    
    <div class="row">
      <div class="span1" style="width: 90px;">
        <label><i class="icon-asterisk red"></i> Add:</label>
      </div>
      <div class="span8" style="width: 590px;">
        <%= f.fields_for :resources do |builder| %>
          <%= render 'resource_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields "Add new +", f, :resources %>
      </div>
    </div>
    
    <hr>
    <div class="row">
      <div class="span1" style="width: 90px;">
        <label><i class="icon-asterisk red"></i> Description:</label>
      </div>
      <div class="span7" style="width: 590px;">
        <%= f.text_area :description, class: 'span6', rows: 5, placeholder: 
        "Please describe your service in detail." %>
      </div>
    </div>
    <div class="row" style="margin-top: 5px;">
      <div class="span1" style="width: 90px;">
        <label>Tags:</label>
      </div>
      <div class="span8" style="width: 590px;">
        <p>Tag your service for optimal search queries (delimiters: tab, enter, comma). Maximum: 6.</p>
        <% @service.tag_list.blank? ? service_tags = ["bitbio"] : service_tags = @service.tag_list %>
        <div id="service-tags" data-tags="<%= Project::TAGS %>"></div>
        <div id="service-prefilled-tags" data-tags="<%= service_tags %>"></div>
        <input style="width: 100px;" type="text" name="service[tag_list]" placeholder="tag" class="service-tm-input" autocomplete="off"/>
      </div>
    </div>
    
    <hr>
    <div class="row">
      <div class="span1" style="width: 90px;">
        <label>Visability:</label>
      </div>
      <div class="span8 radio-account-types" style="width: 590px;">
        <p>Who can view your service?</p>
        <% Service::VISABILITY_OPTIONS.each do |option| %>
          <%= f.radio_button :visability, option %>
          <label style="width: 90px; margin-right: 5px;">
            <% if option == 'public' %>
            <i class="icon-globe" style="margin-right: 9px; margin-left: 2px;"></i>
            <% elsif option == 'private' %>
            <i class="icon-group" style="margin-right: 7px;"></i>
            <% elsif option == 'locked' %>
            <i class="icon-lock" style="margin-right: 9px; margin-left: 4px;"></i>
            <% end %>
            <%= option.capitalize %>
          </label>
          <%= visability_text(option) %>
          <br>
        <% end %>
      </div>
    </div>
    <hr>
    <% if action_name == 'new' || action_name == 'create' %>
      <div class="row">
        <div class="span1" style="width: 90px;">
          <label>Plan:</label>
        </div>
        <div class="span8 radio-account-types" style="width: 590px;">
          <p>How long would you like to list your service?</p>
          <%= f.radio_button :expiration_date, Date.today + 30.days, checked: true  %>
          <label>30 day listing - $20</label>
          <br>
          <%= f.radio_button :expiration_date, Date.today + 90.days  %>
          <label>90 day listing - $60</label>
          <br>
          <%= f.radio_button :expiration_date, Date.today + 180.days  %>
          <label>180 day listing - $100</label>
        </div>
      </div>
      <hr>
    <% end %>
    
    <div class="row">
      <div class="span9">
        <% if action_name == 'edit' || action_name == 'update' %>
          <% if current_user?(@service.user) %>
            <%= link_to "Remove", service_path(@service), method: :delete, confirm: "Are you sure?", 
            class: 'my-button-red large-button pull-right' %>
          <% end %>
          <%= f.submit 'Update Service', class: "my-button large-button", disable_with: 'Submitting...',
          style: 'margin-bottom: 8px;' %> | 
          <%= link_to 'cancel', @service %>
        <% else %>
          <%= f.submit 'List Service', class: "my-button large-button", disable_with: 'Submitting...',
              style: 'margin-bottom: 5px;' %> |
          <%= link_to 'cancel', current_user %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>