<div class="span3 pull-left no-left-margin">
  <%= render 'shared/sidebar/service_search' %>
</div>

<% if current_user && @services.any? %>
  <div class="span9 pull-right">
    <%= render 'add_service' %>
    <%= render 'shared/alerts/services_result_count' %>
    </div>
  <div class="span9 pull-right">
    <% @services.each do |service| %>
      <%= render 'service', service: service %>
    <% end %>
  </div>
  <div class="span9 pull-right"><%= will_paginate @services %></div>
<% elsif current_user && @services.empty? %>
  <%= render 'add_service' %>
  <div class="span9 pull-right">
    <%= render 'shared/alerts/no_services' %>
  </div>
<% elsif !current_user.present? %>
  <div class="span9 pull-right">
    <%= render 'shared/alerts/sign_in_notice' %>
  </div>
<% end %>