.row
  .span12
    - flash.each do |name, msg|
      %div{:class => "alert alert-#{name == :notice ? "success" : "error"}", :style => "margin-top: 0px;"}
        %a.close{"data-dismiss" => "alert"} ×
        = msg
.div{style: "height:0px;"}
  = image_tag "coming_soon.jpg", id: "coming-soon"
.row
  .span12
    %h1#header-coming-soon
      = link_to "<i class='icon-beaker'></i>Bitbio".html_safe, root_path, id: 'logo', title: 'Home'
      %em{style: "margin-left:48px;"}
        Science Community, Marketplace, and Resource
    .div{style: "height: 0px;"}
      .info_header_coming_soon
        
%br
.row{ style: "margin-top:0px; margin-bottom: 50px;"}
  .span9
    = image_tag "computer_bitbio.png", style: "position:relative; z-index:2; left:-25px; top:40px;"
  .span3
    #contact-well
      = form_for @contact do |f|
        .center
          %h4{ style: "font-weight: 500;"} Join our community and sign up for our beta release!
          %br
          = f.text_field :first_name, class: "span2", placeholder: "First Name"
          %br
          = f.text_field :last_name, class: "span2", placeholder: "Last Name"
          %br
          = f.text_field :email, class: "span2", placeholder: "Email"
          %br
          .smaller
            What type of scientist are you?
        .div{style: "margin-left:30px;"}
          = f.select :user_type, ["Researcher", "Service Provider", "SaaS Provider", "Manufacturer", "Other"]
        .center
          = f.submit "SUBMIT", class: "my-button-blue"
        .center
          .small{style: "line-height:140%; margin-top:10px;"}
            100% privacy guaranteed.
            %br
            We'll never share your email.
.row{ style: "position:relative; z-index:5;"}
  .span10.offset1
    %hr
    .center
      %h2{ style: "font-weight:300;"} An online community and resource built by researchers and service providers in the life science industries.
    %hr
.row{ style: "position:relative; z-index:3;"}
  .span10.offset1
    .well{ style: "background:white; padding-top: 30px;"}
      .row
        .span2
          = image_tag "instruments/hiseq_2000.jpg"
        .span7{style: "margin-left:0px; width:590px;"}
          %p{ style: "padding:0px; margin:0px; padding-top: 10px; line-height:160%;"}
            %i.icon-ok.bigger.green
            Gain instant access
            to resources, providers, and equipment
            you may have otherwise not found. 
            %br
            %i.icon-ok.bigger.green
            Exchange science research projects or services 
            with hospitals, universities, research institutes,
            or other service providers across the globe.
      %hr
      .row
        .span7
          %p{ style: "padding:0px; margin:0px; padding-top: 20px; line-height:160%;"}
            %i.icon-ok.bigger.green
            Find out what scientific methods other researchers or service providers are using. Promote
            those that work best for you.
            %br
            %i.icon-ok.bigger.green
            Learn new methods and technologies to use in your research and find out what the science
            marketplace has to offer.
        .span2
          = image_tag "instruments/scimethod.gif"
      %hr
      .row
        .span2
          %i.icon-search.giant
        .span7
          %p{ style: "padding:0px; margin:0px; padding-top: 20px; line-height:160%;"}
            %i.icon-ok.bigger.green
            Search for projects
            to exchange advice, opinions, and services or create your own project listing.
            %br
            %i.icon-ok.bigger.green
            Browse through blog posts and technology reviews. Create your own blog post and participate in the conversation.
      %hr
      .center
        %p
          %em
            *** Why rely on expensive services to broker your science project when all you need is 
            access, exposure, and help from the scientific community. ***
.small{style: "position:relative; z-index:5; left: 8px;"}
  © Bitbio 2013
.row
  .span12{ style: "margin-bottom:40px; margin-top:40px;"}
    .center
      %a{href: "https://twitter.com/bit_bio", style: 'text-decoration:none;', title: "Twitter", target: "_blank"}
        %i.icon-twitter.giant{ style: "margin-right: 50px;"}
      %a{href: "mailto:info@bitbio.org?", style: 'text-decoration:none;', title: "Send Email"}
        %i.icon-envelope.giant{ style: "margin-left: 50px;"}

