.row
  .span12
    - flash.each do |name, msg|
      %div{:class => "alert alert-#{name == :notice ? "success" : "error"}", :style => "margin-top: 0px;"}
        %a.close{"data-dismiss" => "alert"} ×
        = msg
.div{style: "height:0px;"}
  = image_tag "coming_soon.jpg", id: "coming-soon"
.row
  .span12
    .div{style: "height: 50px;"}
      .info_header_coming_soon
        %h1.center#header-coming-soon
          %i.icon-beaker
          Science Community and Marketplace
%br
.row
  .span9
    = image_tag "computer_bitbio.png", style: "position:relative; z-index:2; left:-25px"
  .span3
    #contact-well
      = form_for @contact do |f|
        .center
          %h4 Join our community!
          %br
          = f.text_field :first_name, class: "span2", placeholder: "First Name"
          %br
          = f.text_field :last_name, class: "span2", placeholder: "Last Name"
          %br
          = f.text_field :email, class: "span2", placeholder: "Email"
          %br
        .center
          = f.submit "Submit", class: "my-button-blue"
%p{style: "position:relative; z-index:2; padding: 10px 25px; background: white; margin: 20px; 200px;"}
  &#8594;
  Bitbio is an online
  %strong science community
  and resource built by researchers and service providers in the life science industries.
  Gain instant
  %strong access
  to resources, providers, and equipment
  you may have otherwise not found. Exchange science research projects or services 
  with hospitals, universities, research institutes,
  or other service providers across the globe.
  Find out what scientific methods other researchers or service providers are using.
  %strong Search for projects
  to exchange science advice, opinions, and services.
  Learn about new research, methods, and technologies to use for your project and what the science
  market has to offer. Quickly
  %strong promote research
  questions and answers
  in the science community to help a colleague.
  %br
  %br
  %em
    *** Why rely on expensive services to broker your science project when all you really need is 
    access, exposure, and some help from the science community. ***
%br
.row
  .span12
    .center
      %a{href: "https://twitter.com/bit_bio", style: 'text-decoration:none;', title: "Twitter", target: "_blank"}
        %i.icon-twitter.giant{ style: "padding-right: 50px;"}
      %a{href: "mailto:info@bitbio.org?", style: 'text-decoration:none;', title: "Send Email"}
        %i.icon-envelope.giant{ style: "padding-left: 50px;"}
%br
%br
