.row{style: "margin-top: 10px;"}
  .span4
    = link_to "<i class='icon-beaker'></i>bitBIO".html_safe, root_path, id: 'logo', title: 'Home'
  .span8
    %h1{ style: "font-size: 150%; float:right; margin-top:5px; margin-right: 4px;"}
      %i.icon-user-md
      Science Community and Science Search Engine
      %i.icon-search
%br
.row
  .span12
    - flash.each do |name, msg|
      %div{:class => "alert alert-#{name == :notice ? "success" : "error"}", :style => "margin-top: 10px;"}
        %a.close{"data-dismiss" => "alert"} ×
        = msg
.row
  .span9.bigger-shell
    %h2.info_header
      .red.center
        Science Outsourcing - Service Provider Search - Research Collaboration
    = image_tag 'science_types_word_cloud.png'
  .span3.smaller-shell{ style: "margin-left: 16px;"}
    %h2.info_header
      .blue{ style: "margin-left: 60px;"}
        Sign Up
    %p.center{style: "margin-top: 10px; margin-bottom: 10px;"} Get notified of beta release!
    = form_for @contact do |f|
      .center
        = f.text_field :first_name, class: "span2", placeholder: "First Name"
        = f.text_field :last_name, class: "span2", placeholder: "Last Name"
        = f.text_field :email, class: "span2", style: "width: 180px;", placeholder: "Email"
      = f.submit "Sign Up", class: "my-button-blue", style: "margin-left: 74px;"
    .row
      .span3
        .center
          %a{href: "mailto:info@bitbio.org?", style: 'text-decoration:none;', title: "Send Email"}
            Contact Us
    %br
%br
.row
  .span6
    %h2{:style => "margin-bottom:5px; margin-top:0px; margin-right:10px; display:inline;"} Connect With Us!
    .row
      .span6
        %blockquote.twitter-tweet
          %p>
            The oldest complete genome to date.
            %a{:href => "http://t.co/Vx0Z9It5mc"} http://t.co/Vx0Z9It5mc
            %a{:href => "https://twitter.com/search?q=%23dna&src=hash"} #dna
            %a{:href => "https://twitter.com/search?q=%23sequencing&src=hash"} #sequencing
            %a{:href => "https://twitter.com/search?q=%23genomics&src=hash"} #genomics
          \— bitBIO (@bit_bio)
          %a{:href => "https://twitter.com/bit_bio/statuses/350241781230731264"} June 27, 2013
        %script{:async => "", :charset => "utf-8", :src => "//platform.twitter.com/widgets.js"}
    .row
      .span6
        %blockquote.twitter-tweet
          %p>
            Scientists capture first images of molecules before and after reaction:
            %a{:href => "http://t.co/CmWVywKjkl"} http://t.co/CmWVywKjkl
          \— bitBIO (@bit_bio)
          %a{:href => "https://twitter.com/bit_bio/statuses/340614527605407744"} May 31, 2013
        %script{:async => "", :charset => "utf-8", :src => "//platform.twitter.com/widgets.js"}
  .span6
    %h2{:style => "margin-bottom:5px; margin-top:0px;"} What is bitBIO?
    %p
      An online
      %strong science community
      and resource built by you, for you. If
      you are outsourcing science, searching for service providers, collaborating on a research project,
      or looking for assistance, bitBIO is for you.
    %p{style: "margin-top:10px;"}
      Gain instant
      %strong access
      to new resources, providers, and equipment
      you may have otherwise not found, and easily exchange science with research institutes, hospitals, universities,
      and other service providers, globally.
    %p{style: "margin-top:10px;"}
      Find out what scientific methods other researchers or service providers are using.
      %strong Search for projects
      to exchange science advice, opinions, and services.
    %p{style: "margin-top:10px;"}
      Learn about new research, methods, and technologies to use for your project and what the science
      market has to offer. Quickly
      %strong promote research
      questions and answers
      in the science community to help each other.
    %p{style: "margin-top:10px;"}
      Why rely on expensive services to broker your science project when all you really need is 
      access, exposure, and some help from the science community.