<div class="row" style="margin-left: 0px;"><h2 class="underline-header">My Messages</h2></div>
<div class="row" style="margin-top: 5px;">
  <div class="navbar" id="message_nav">
    <div class="navbar-inner">
      <ul class="nav">
        
        <% a = "on" if params[:sent] != 'true' %>
        <% b = "on" if params[:sent] == 'true' %>
        
        <li style="margin-top: 5px;" class=<%= a %>><%= link_to 'Inbox',
         user_messages_path(current_user), style: 'padding: 5px 10px;' %></li>
        <li style="margin-top: 5px;" class=<%= b %>><%= link_to 'Sent', user_messages_path(current_user, sent: true),
                  style: 'padding: 5px 10px;' %></li>
        <% if @contacts && @contacts.any? %>
          <li>
            <%= content_tag "div", class: "btn", id: 'message', title: "Create a new message", style: "text-decoration:none;" do %>
              <i class="icon-envelope"></i> New Message
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
