<div class="row">
  <div class="message_bar">
    <%= link_to message do %>
      <div class="span2">
          <span style="padding-left: 5px;"> 
            <% if params[:sent] == 'true' %>
              To: <%= current_user?(message.receiver) ? 'Me' : truncate(message.receiver.full_name, length: 18) %>
            <% else %>
              <%= current_user?(message.sender) ? 'Me' : message.sender.full_name %>
            <% end %>
          </span>
      </div>
      <div class="span6">
        <%= message.subject.present? ? message.subject : "(no subject)" %>
        <span class="silver"> - <%= truncate(message.content, length: 40) %>
      </div>
      <div class="span1">
        <%= date_or_time(message) %>
      </div>
    <% end %>
  </div>
</div>