<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "Sign In") %>
  <% end %>
  <% content_for :description do %>
    Sign in to your bitBIO account to exchange science services with others.
  <% end %>
<% end %>

<%= link_to 'â† back', root_path %>
<%= form_tag do %>
<div class="row">
	<div class="span5 offset1">
	  <h2>Please Sign In</h2>  
    <hr>
		<div class="row">
			<div class="span2">
				<label>Email:</label>
			</div>
			<div class="span3 pull-right">
				<%= text_field_tag :email, params[:email], class: "span3" %>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<label class="inline">Password:</label>
			</div>
			<div class="span3 pull-right">
				<%= password_field_tag :password, params[:password], class: "span3" %>
			</div>
		</div>
			<hr>
			<div>
			  <p class="inline">Don't have an account? <%= link_to 'Sign up', new_user_path %>!</p>
				<%= submit_tag 'Login', class: "btn btn-large pull-right inline" %>
	    </div>
	<% end %>
	</div>
</div>