<div class="span9 blog-well">
  <div class="row">
    <div class="span8" style="margin-left: 10px;">
      <hr style="margin: 5px 0px 5px 0px; width: 680px;">
      <div class="user">
        <% if blog.user.attachments.any? %>
          <%= image_tag(blog.user.attachments.first.image.url(:thumb), title: blog.user.full_name).to_s %>
        <% else %>
          <%= image_tag 'blank_avatar_thumb.jpg', title: blog.user.full_name %>
        <% end %>
      </div>
      <div class="top">
        <h3><%= link_to truncate(blog.title, length: 60), blog_path(blog) %></h3>
        <%= blog.created_at.strftime("%D") %> by <%= link_to "#{blog.user.full_name}", user_path(blog.user) %>
      </div>
      <div class="row">
        <div class="span8">
          <div class="smaller"><i class="icon-tags dark"></i>: <%= raw blog.tags.map { |t| link_to t.name, tag_path(t.name)  }.join(', ')%></div>
        </div>
      </div>  
    </div>
    <div class="span1" style="margin-top: 18px; margin-left:5px; border-left: 1px solid silver; height: 55px; padding-left: 5px;">
      <% is_liked?(blog) ? promoted = 'promoted' : promoted = '' %>
      <%= link_to "<i class='icon-thumbs-up dark' style='padding-right: 2px;'></i><span class='dark'>: 
        #{blog.likes.count}</span>".html_safe, blog_likes_path(blog), remote: true, method: :post, 
        id: "thumb_#{blog.id}", class: "blog-list-item #{promoted}" %><br>

      <i class="icon-eye-open dark"></i><span class="dark">: <%= blog.view_count %></span><br>
      <i class="icon-comment dark"></i><span class="dark">: <%= blog.comments.count %></span>
    </div>
  </div>
</div>