= form_for @blog do |f|
  %br
  = render 'shared/error_messages', object: f.object
  %label Title:
  = f.text_field :title, class: 'span9', placeholder: "Choose a title that best fits your blog entry"
  %hr/
  = f.cktext_area :body
  %br/
  .row{style: "margin-top: 20px;"}
    .span1{style: "width: 90px;"}
      %label
        %strong
          Tags:
    .span8{style: "width: 590px;"}
      %p Tag your blog for optimal search queries (delimiters: tab, enter, comma). Maximum: 6.
      #blog-tags{"data-tags" => Project::TAGS}
      #blog-prefilled-tags{"data-tags" => @blog.tag_list}
      %input.blog-tm-input{autocomplete: "off", name: "blog[tag_list]", placeholder: "tag", style: "width: 100px;", type: "text"}/
  %hr/
  .row{style: "margin-top: 20px;"}
    .span9
      - if @blog.new_record?
        = f.submit 'Submit Blog Entry', class: "btn btn-large btn-info", disable_with: 'Submitting...', |
          style: 'margin-bottom: 5px;'                                                                  |
        |
        \#{link_to 'cancel', root_path}
      - else
        = f.submit 'Update Blog Entry', class: "btn btn-large", disable_with: 'Submitting...', |
          style: 'margin-bottom: 5px;'                                                                  |
        |
        \#{link_to 'cancel', @blog}