<%= form_for @blog do |f| %>
  <div class="row">
    <div class="span9">
      <%= render 'shared/error_messages', object: f.object %>
      <% if @blog.new_record? %>
        <h2><i class="icon-list-alt"></i> New Blog Entry</h2>
      <% else %>
        <h2><i class="icon-list-alt"></i> Editing Blog</h2>
      <% end %>
      <hr>
      <div class="row">
        <div class="span9">
          <i class="icon-asterisk red"></i> 
          <%= f.text_field :title, class: 'span9', placeholder: 'Title', style: 'width: 670px;margin-top:10px;' %>
        </div>
      </div>
      <hr>

        <%= f.cktext_area :body %>
        <br>

       <div class="row" style="margin-top: 20px;">
          <div class="span1" style="width: 90px;">
            <label>Tags:</label>
          </div>
          <div class="span8" style="width: 590px;">
            <% @blog.tag_list.blank? ? blog_tags = ["bitbio"] : blog_tags = @blog.tag_list %>
            <div id="project-tags" data-tags="<%= Project::TAGS %>"></div>
            <div id="project-prefilled-tags" data-tags="<%= blog_tags %>"></div>
            <input style="width: 100px;" type="text" name="project[tag_list]" placeholder="tag" class="tm-input" autocomplete="off"/>
            <p>Tag your blog for optimal search queries (delimiters: tab, enter, comma). Maximum: 6.</p>
          </div>
        </div>
        <hr>
        <p>You may preview your blog entry by selecting the preview icon at the top of the blog editor.</p>
        <p>All blog entries may be edited after submission.</p>
      <div class="row" style="margin-top: 20px;">
        <div class="span9">
          <% if @blog.new_record? %>
            <%= f.submit 'Submit Blog Entry', class: "my-button large-button", disable_with: 'Submitting...',
                style: 'margin-bottom: 5px;' %> |
            <%= link_to 'cancel', root_path %>
          <% else %>
            <%= f.submit 'Update Blog Entry', class: "my-button large-button", disable_with: 'Submitting...',
                style: 'margin-bottom: 5px;' %> |
            <%= link_to 'cancel', @blog %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
<% end %>