<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "#{@blog.title}") %>
  <% end %>
  <% content_for :description do %>
    <%= @blog.title %> by <%= @blog.user.full_name %> posted on <%= @blog.created_at.strftime("%D") %>.
  <% end %>
<% end %>

<div class="row">
  <div class="span9 pull-right">
    <%= render 'blogs/header' %>
    
    <p><%= simple_format(Rinku.auto_link(@blog.body).html_safe) %></p>
    <hr>
    <div class="row">
      <div class="span9">
    <% if is_liked?(@blog) %>
    <p class="inline">
      <div class="my-button-empty">
        <i class="icon-thumbs-up"></i> PROMOTED BY YOU
      </div>
    </p>

    <% elsif current_user %>
      <%= link_to '<i class="icon-thumbs-up"></i> PROMOTE'.html_safe, blog_likes_path(@blog), class: 'my-button-silver', method: :post %>
    <% end %>
    <% if @blog.likes.any? %>
      <p class="inline"><strong class="dark" style="padding-left: 5px;"><%= pluralize(@blog.likes.count, 'member') %> promoted this.</strong></p>
    <% else %>
      <p class="inline"><strong class="dark" style="padding-left: 5px;">be the first to promote this!</strong></p>
    <% end %>
      </div>
    </div>
    <hr>
    <%= render 'comments/comments' %>

    <%= render 'comments/form_info' %>
    <br>
  </div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=537185399671192";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>