<tr>
	<td style="padding-top:10px">
		Dear <%= @user.first_name %>,
	</td>
</tr>
<tr>
	<td style="padding-top:20px">
	  <% if @comment.commentable_type == "Project" %>
	    <%= @comment.user.full_name %> commented on <%= @comment.commentable.name %>:
	  <% elsif @comment.commentable_type == "Blog" %>
	    <%= @comment.user.full_name %> commented on <%= @comment.commentable.title %>:
	  <% end %>
	</td>
</tr>
<tr>
	<td style="padding-top:10px; padding-left:10px; padding-right:10px; font-style:italic">
		<%= truncate(@comment.content, length: 200) %>
	</td>
</tr>
<tr>
	<td style="padding-top:20px; padding-right:10px">
		<%= link_to "View Comment", polymorphic_url(@comment.commentable) %>
	</td>
</tr>