<tr>
	<td style="padding-top:10px">
		<% if @sender.attachments.any? %>
		  <%= link_to image_tag(@sender.attachments.first.image.url(:thumb), title: @sender.full_name).to_s, user_url(@sender) %>
		<% else %>
		  <%= link_to image_tag('blank_avatar_thumb.jpg', title: @sender.full_name), user_url(@sender) %>
		<% end %>
	</td>
</tr>
<tr>
	<td style="padding-top:20px; padding-right:10px;">
	  I'd like to add you as a connection on BitBio.
	</td>
</tr>
<tr>
	<td style="padding-top:20px; padding-right:10px;">
	  - <%= @sender.full_name %>
	</td>
</tr>
<tr>
	<td style="padding-top:20px">
  	<%= link_to "Accept", connection_reply_url(id: @connection_request.connection_token), class: "btn" %>
  	<%= link_to "View Profile", user_url(@sender), style: "font-size: 80%; padding-left:10px;" %>
	</td>
</tr>
