.row
  .span12    
    %table.table-hover.table-condensed.table-striped{style: "background: white"}
      %thead
        %tr
          %th.small Today
          %th.small 7 days
          %th.small 30 days
          %th.small With Project(s)
          %th.small With Blog(s)
          %th.small With Comment(s)
          %th.small With Like(s)
          %th.small With Event(s)
          %th.small Total
      %tbody
        %tr
          %td.small= User.where("created_at > ?", Time.zone.now.beginning_of_day).count
          %td.small= User.where("created_at > ?", (Date.today - 6)).count
          %td.small= User.where("created_at > ?", (Date.today - 29)).count
          %td.small= User.select { |user| user.projects.size > 0 }.count
          %td.small= User.select { |user| user.blogs.size > 0 }.count
          %td.small= User.select { |user| user.comments.size > 0 }.count
          %td.small= User.select { |user| user.likes.size > 0 }.count
          %td.small= User.select { |user| user.events.size > 0 }.count
          %td.small= User.count

%hr{style: "margin-top:10px;margin-bottom:10px;"}

.row
  .span12    
    %table.table-hover.table-condensed.table-striped{style: "background: white"}
      %thead
        %tr
          %th.small= link_to 'ID', admin_path(user_order: "id")
          %th.small= link_to 'Created', admin_path(user_order: "created_at")
          %th.small= link_to 'Name', admin_path(user_order: "name")
          %th.small= link_to 'Email', admin_path(user_order: "email")
          %th.small{title: "Projects/Comments/Likes/Events"} P/C/L/E/B
          %th.small{title: "Verified"} Ver
          %th.small{title: "Newsletter"} News
          %th.small Facility
          %th.small= link_to 'Country', admin_path(user_order: "country")
          %th.small Actions
      %tbody
        - @users.each do |user|
          %tr
            %td.small= user.id
            %td.small= user.created_at.strftime("%m/%e/%y %l:%M%P")
            %td.small= link_to user.full_name, user
            %td.small= user.email
            %td.small #{user.projects.size}-#{user.comments.size}-#{user.likes.size}-#{user.events.size}-#{user.blogs.size}
            %td.small= user.verified == true ? "Yes" : "No"
            %td.small= user.newsletter == true ? "Yes" : "No"
            %td.small= user.facility.name
            %td.small= user.country
            %td.small
              = link_to user_path(user), title: "view user" do
                %i.icon-eye-open
              = link_to edit_user_path(user), title: "edit user" do
                %i.icon-edit
.row
  .span12
    = will_paginate @users