<%= form_for @user do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="row">
    <div class="span9">
      <% if action_name == "edit" %>
      <h2>Editing Account</h2>
      <% else %>
      <h2>Join bitBIO!</h2>
      <% end %>
      <hr>
      <div class="row">
       <div class="span2">
          <label>Account Type:</label>
        </div>
        <div class="span6" id="radio-account-types">
          <%= f.radio_button :account_type, "Researcher", checked: true  %>
  		    <label style="display: inline; margin-right: 20px;"><i class="icon-user icon-white"></i> Researcher</label>
  		    <%= f.radio_button :account_type, "Provider" %>
  		    <label style="display: inline; margin-right: 20px;"><i class="icon-home icon-white"></i> Service Provider</label>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="span2">
  				<label>Name:</label>
  			</div>
  			<div class="span6">
  		    <%= f.text_field :first_name, class: "span2", placeholder: "First" %> 
  				<%= f.text_field :last_name, class: "span2", placeholder: "Last" %>
  			</div>
      </div>

      <div class="row">
        <div class="span2">
  				<label>Email:</label>
  			</div>
  			<div class="span6">
  		    <%= f.text_field :email, class: "span3", placeholder: "Email", style: 'width: 273px' %> 
  			</div>
      </div>
      
      <div class="row">
        <div class="span2">
  				<label>Phone:</label>
  			</div>
  			<div class="span6">
  		    <%= f.text_field :phone, class: "span3", placeholder: "Phone", style: 'width: 273px' %> 
  			</div>
      </div>
      <hr>
      <div class="row">
        <div class="span2">
  				<label>Organization:</label>
  			</div>
  			<div class="span6">
  		    <%= f.text_field :organization, class: "span3", placeholder: "Organization name" %> 
  			</div>
      </div>
      
      <div class="row">
        <div class="span2">
  				<label>Bio:</label>
  			</div>
  			<div class="span6">
  		    <%= f.text_area :bio, class: 'span4', rows: 7, 
  		        placeholder: "Please describe your scientific background or provide a brief description of your organization" %> 
  			</div>
      </div>
      <hr>
      
      <div class="row">
        <div class="span2">
  				<label>Address:</label>
  			</div>
  			<div class="span6">
  		    <%= f.text_field :address, class: "span3", placeholder: "Address", style: 'width: 256px' %> 
  			</div>
      </div>
      <div class="row">
        <div class="span2">
  				<label>City, State, Zip:</label>
  			</div>
  			<div class="span6">
  		    <%= f.text_field :city, class: "span2", placeholder: "City" %> 
  		    <%= f.text_field :state, class: "span1", placeholder: "State" %> 
  		    <%= f.text_field :zip, class: "span1", placeholder: "Zip" %> 
  			</div>
      </div>
      <div class="row">
        <div class="span2">
  				<label>Country:</label>
  			</div>
  			<div class="span6">
  		    <%= f.select :country, User::COUNTRIES, { prompt: "--select--" }, class: "span3", style: 'width: 268px' %>
  			</div>
      </div>
      <hr>
      <div class="row">
  			<div class="span2">
  				<label class="inline">Password:</label>
  			</div>
  			<div class="span2">
  				 <%= f.password_field :password, class: 'span2' %>
  			</div>
  		</div>
  		<div class="row">
  			<div class="span2">
  				<label class="inline">Confirm Password:</label>
  			</div>
  			<div class="span2">
  				 <%= f.password_field :password_confirmation, class: 'span2' %>
  			</div>
  		</div>
      <hr>
      <div class="row">
        <div class="span9">
          <% if action_name == 'edit' || action_name == 'update' %>
            <%= link_to 'cancel', @user %>
            <%= f.submit "Update Account", class: "btn btn-large", disable_with: 'Submitting...' %>
            <% if current_user?(@user) %>
              <%= link_to "Cancel Account", user_path(@user), method: :delete, confirm: "Are you sure?", class: 'btn btn-large btn-danger pull-right' %>
            <% end %>
          <% else %>
            <%= f.submit "Create Account", class: "btn btn-large btn-success", disable_with: 'Submitting...' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
<% end %>
