<%= form_for @user, :html=>{:multipart => true } do |f| %>
  <div class="row" style="margin-top: 10px;">
    <div class="span9">
      <%= render 'shared/error_messages', object: f.object %>
      <% if action_name == "edit" %>
      <h2 style="margin-top: 5px;">Editing Account</h2>
      <% else %>
      <h2 style="margin-top: 5px;">Join the bitBIO science community!</h2>
      <% end %>
      <hr style="margin-top: 5px;">
      
      <% if action_name == "edit" || action_name == "update" %>
        
        <div class="row" style="margin-bottom: 20px;">
          <div class="span2">
             <label>Profile Pic:</label>
           </div>
           <div class="span6">
            <%= f.fields_for :attachments do |attch| %>
            <% attch.object.new_record? ? new_attch = "new_attch" : new_attch = '' %>
            <fieldset class="<%= new_attch %>">
               <% if attch.object.new_record? %>
                 <%= attch.file_field :image %>
               <% else %>
                 <%= image_tag(attch.object.image.url).to_s %>
                 <%= f.hidden_field :_destroy %>
                 <%= link_to "<i class='icon-trash'></i> remove".html_safe, '#', class: 'remove_fields', style: 'margin-left: 5px;' %>
               <% end %>
            </fieldset>
            <% end %>
             <p style="margin-top: 5px;"><small>Accepted file formats: jpg jpeg gif png.</small></p>
           </div>
        </div>
      
      <div class="row">
       <div class="span2">
          <label>Account Type:</label>
        </div>
        <div class="span6 radio-account-types">
          <%= f.radio_button :account_type, "Researcher", checked: true  %>
  		    <label style="display: inline; margin-right: 20px;"><i class="icon-user icon-white"></i> Researcher</label>
  		    <%= f.radio_button :account_type, "Provider" %>
  		    <label style="display: inline; margin-right: 20px;"><i class="icon-home icon-white"></i> Service Provider</label>
        </div>
      </div>
      <hr>
      <% end %>
      <div class="row">
        <div class="span2">
  				<label><i class="icon-asterisk red"></i> Name:</label>
  			</div>
  			<div class="span6">
  		    <%= f.text_field :first_name, class: "span2", placeholder: "First" %> 
  				<%= f.text_field :last_name, class: "span2", placeholder: "Last" %>
  			</div>
      </div>

      <div class="row">
        <div class="span2">
  				<label><i class="icon-asterisk red"></i> Email:</label>
  			</div>
  			<div class="span6">
  		    <%= f.text_field :email, class: "span3", placeholder: "Email", style: 'width: 273px' %> 
  			</div>
      </div>
      <% if action_name == "edit" || action_name == "update" %>
      <div class="row">
        <div class="span2">
  				<label>Phone:</label>
  			</div>
  			<div class="span6">
  		    <%= f.text_field :phone, class: "span3", placeholder: "Phone", style: 'width: 273px' %> 
  			</div>
      </div>
      <hr>
      <% end %>
      <div class="row">
        <div class="span2">
  				<label><i class="icon-asterisk red"></i> Organization:</label>
  			</div>
  			<div class="span6">
  		  
  		    <input style="width: 273px;" id="user_organization" name="user[organization]" 
          placeholder="Organization name" size="30" type="text" 
          data-provide="typeahead" data-source="<%= User.pluck(:organization).uniq.sort %>"
          autocomplete="off" 
          <% unless @user.new_record? %>
            value="<%= @user.organization %>"
          <% end %>
           />
  		    
  			</div>
      </div>
      <% if action_name == "edit" || action_name == "update"  %>
      <div class="row">
        <div class="span2">
  				<label>Bio:</label>
  			</div>
  			<div class="span6">
  		    <%= f.text_area :bio, class: 'span4', rows: 7, 
  		        placeholder: "Please describe your scientific background or provide a brief description of your organization" %> 
  			</div>
      </div>
      <hr>
      <div class="row">
        <div class="span2">
  				<label>Address:</label>
  			</div>
  			<div class="span6">
  		    <%= f.text_field :address, class: "span3", placeholder: "Address", style: 'width: 256px' %> 
  			</div>
      </div>
      <div class="row">
        <div class="span2">
  				<label>City, State, Zip:</label>
  			</div>
  			<div class="span6">
  		    <%= f.text_field :city, class: "span2", placeholder: "City" %> 
  		    <%= f.text_field :state, class: "span1", placeholder: "State" %> 
  		    <%= f.text_field :zip, class: "span1", placeholder: "Zip" %> 
  			</div>
      </div>
      <% end %>
      <div class="row">
        <div class="span2">
  				<label><i class="icon-asterisk red"></i> Country:</label>
  			</div>
  			<div class="span6">
  			  <% request.location.country == "United States" ? country = "United States of America" : country = "" %>
  			  <% if action_name == "edit" || action_name == "update"  %>
    			  <%= f.select :country, Ravibhim::Continents::COUNTRIES, 
    		      { prompt: "--select--" }, style: 'width: 283px' %>
  		    <% else %>
    		    <%= f.select :country, Ravibhim::Continents::COUNTRIES, 
    		      { prompt: "--select--", selected: country }, style: 'width: 283px' %>
  		    <% end %>
  			</div>
      </div>
      <hr>
      <div class="row">
  			<div class="span2">
  				<label class="inline"><i class="icon-asterisk red"></i> Password:</label>
  			</div>
  			<div class="span2">
  				 <%= f.password_field :password, class: 'span2' %>
  			</div>
  		</div>
  		<div class="row">
  			<div class="span2">
  				<label class="inline"><i class="icon-asterisk red"></i> Confirm Password:</label>
  			</div>
  			<div class="span2">
  				 <%= f.password_field :password_confirmation, class: 'span2' %>
  			</div>
  		</div>
      <hr>
      <div class="row">
        <div class="span9">
          <% if action_name == 'edit' || action_name == 'update' %>
            <%= f.submit "Update Account", class: "my-button large-button", disable_with: 'Submitting...' %> |
            <%= link_to "cancel", @user%>
            <% if current_user?(@user) %>
              <%= link_to "Cancel My Account", user_path(@user), method: :delete, confirm: "Are you sure?", 
                  class: 'my-button-red large-button pull-right' %>
            <% end %>
          <% else %>
            <%= f.submit "Create Account", class: "my-button large-button", disable_with: 'Submitting...' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
<% end %>
