<% if @signup_user.errors.any? || invite_token_present? %>
  <div id="showSignupModal"></div>
<% end %>
<div id="signupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
  <a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>

  <%= form_for @signup_user do |f| %>
    <div class="row" style="margin-top: 10px;">
      <div class="span6">
        <h2 style="margin-top: 5px;">Join the <i class="icon-beaker"></i> <span class="logo-font">BitBio</span> community!</h2>
        <hr style="margin-top: 5px;">
        <%= render 'shared/error_messages', object: f.object %>
        <div class="row">
          <div class="span2">
    				<label>Name:</label>
    			</div>
    			<div class="span2" style="width: 130px;">
    		    <%= f.text_field :first_name, placeholder: "First", style: 'width: 130px; margin-right: 5px;' %> 
    			</div>
    			<div class="span2">
    			 <%= f.text_field :last_name, placeholder: "Last", style: 'width: 130px;' %>
    			</div>
        </div>
        <div class="row">
          <div class="span2">
    				<label>Email:</label>
    			</div>
    			<div class="span4">
    		    <%= f.text_field :email, placeholder: "Email", style: 'width: 280px' %> 
    			</div>
        </div>
        <div class="row">
          <div class="span2">
    				<label>Organization:</label>
    			</div>
    			<div class="span4">
    		    <input style="width: 280px;" id="user_organization" name="user[organization]" 
            placeholder="Organization name" size="30" type="text" 
            data-provide="typeahead" data-source="<%= Facility.scoped.pluck(:name).sort %>"
            autocomplete="off" value="<%= @signup_user.organization %>"/>
    			</div>
        </div>
        <div class="row">
          <div class="span2">
    				<label>Country:</label>
    			</div>
    			<div class="span4">
    			  <% request.location.country == "United States" ? country = "United States of America" : country = "" %>
      		    <%= f.select :country, Ravibhim::Continents::COUNTRIES, 
      		      { prompt: "--select--", selected: country }, style: 'width: 295px' %>
    			</div>
        </div>
        <hr>
        <div class="row">
    			<div class="span2">
    				<label class="inline">Choose a Password:</label>
    			</div>
    			<div class="span4">
    				 <%= f.password_field :password, class: 'span2' %>
    			</div>
    		</div>
        <hr>
        <div class="row">
          <div class="span4">
            <p class="small" style: "margin-top:0px; margin-bottom:20px;">
              By creating this account I agree to BitBio's
              <%= link_to 'terms of service', terms_path %>
              and
              <%= link_to 'privacy policy', privacy_path %>.
            </p>
          </div>
          <div class="span2">
            <!-- <a class="pull-left pointer-enabled" data-dismiss="modal" aria-hidden="true">Cancel</a> -->
            <%= f.submit "Join!", class: "btn btn-large pull-right", disable_with: 'Submitting...' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>


