<div class="span3 user-well">
  <ul class="unstyled">
    <li>
      <% if user.researcher? %>
        <i class="icon-user icon-white pull-right"></i> 
      <% elsif user.provider? %>
        <i class="icon-home icon-white pull-right"></i> 
      <% end %>
      <%= link_to truncate(user.full_name, length: 30), user_path(user) %>
    </li>
    <li><%= truncate(user.organization, length: 30) %></li>
    <li><%= truncate(user.country, length: 34) %></li>
  </ul>
  <%= content_tag "div", class: "pull-left", id: 'message', title: "Send a message", 
      data: {blah: user.id} do %>
    <i class="icon-envelope"></i>
  <% end %>
  <br>
  <p><strong>Bio:</strong> <%= truncate(user.bio, length: 80) %></p>
</div>