<div class="span3 user-well">
  <ul class="unstyled">
    <li>
      <% if user.researcher? %>
        <i class="icon-user"></i> 
      <% elsif user.provider? %>
        <i class="icon-home"></i> 
      <% end %>
      <%= link_to truncate(user.full_name, length: 14), user_path(user) %>
      <div class="pull-right"><%= truncate(user.country, length: 15) %></div>
    </li>
    <li><%= mail_to(truncate(user.email, length: 30)) %></li>
    <li><%= truncate(user.phone, length: 30) %></li>
    <li><%= truncate(user.organization, length: 30) %></li>
  </ul>
  <dt>Bio:</dt>
  <p><%= truncate(user.description, length: 80) %></p>
</div>