<div class="span3 project-well">
  <h3><%= link_to truncate(user.full_name, length: 40), user_path(user) %></h3>
  <h3><%= truncate(user.email, length: 40) %></h3>
  <h3><%= truncate(user.phone, length: 40) %></h3>
  <h3>Project Count: <%= user.projects.size %></h3>
  <h4>Organization: <%= truncate(user.organization, length: 40) %></h4>
  <h4>Bio:</h4>
  <p><%= user.description %></p>
</div>