- content_for :title do
  = t('application.root.title_with_tag_line', tag_line: "Editing #{@user.full_name}")
- content_for :description do
  Editing #{@user.full_name}'s BitBio page.
  
.row
  .span9.offset3
    %h2.underline-header.bottom-margin members
.row
  .span3
    = render 'shared/sidebar/connections'
  .span9
    = render 'form'
