.row
  .span3
    = link_to "&#8592; back".html_safe, current_user
  .span9
    %h2.underline-header settings
    %br
.row
  .span3
    = render 'shared/sidebar/image_tagline1'
  .span9.bigger-shell
    .div{style: "padding:20px;"}
      %h3.dark Account type: <span class="red tiny">#{current_user.membership + " (free)"}</span>
      %hr
      %h3.dark Notification emails:
      = form_for @user do |f|
        .div{style: "margin-left:10px; padding-top:10px;"}
          %label.checkbox
            .left
              BitBio newsletter
              = f.check_box :newsletter
          %label.checkbox
            .left
              Send me new project alerts
              = f.check_box :project_alerts
          %label.checkbox
            .left
              Send me new blog alerts
              = f.check_box :blog_alerts
          %label.checkbox
            .left
              Send me new event alerts
              = f.check_box :event_alerts
          = f.submit "Update", class: "btn btn-info", style: "margin-top:10px;"
                        