- content_for :title do
  = t('application.root.title_with_tag_line', tag_line: "#{@user.full_name}")
- content_for :description do
  = @user.full_name
  \- #{@user.bio}
.span9.pull-right
  - if current_user && current_user?(@user) && !current_user.verified
    %div{style: "height: 0px;"}
      #search-results
        %p.inline.red{style: "margin:0px; margin-left: 10px;"}
          %span{style: "font-size: 83%"}
            Your account has not been verified. #{link_to 'Resend verification email', user_resend_url(current_user), disable_with: 'Sending...'}.
.span3.no-left-margin
  = render 'shared/sidebar/connections'
.span9.pull-right
  .row
    .span2{style: "width: 80px;"}
      - if @user.attachments.any?
        = image_tag(@user.attachments.first.image.url, title: @user.full_name).to_s
      - else
        = image_tag 'blank_avatar.jpg', title: @user.full_name, id: 'user-avatar'
    .span5{style: "margin-top: -8px;"}
      %h2= @user.full_name
      %i.icon-building.blue{ style: "padding-left:1px; padding-right:3px"}
      %h6.inline= @user.facility.name
      %br
      %i.icon-map-marker.green{ style: "padding-left:2px; padding-right:5px"}
      = country_with_us_shortened(@user.country)
    .span2.pull-right{style: "margin-top: -8px;"}
      - if current_user?(@user)
        = link_to '<i class="icon-edit"></i> edit profile'.html_safe, edit_user_path(@user), class: 'pull-right my-button-red'
      - else
        = link_to 'Connect'.html_safe, connection_requests_path(receiver_id: @user.id), class: 'pull-right my-button-red', method: :post, disable_with: "sending..."
        /
          <haml_loud> link_to '<i class="icon-plus"></i> add services'.html_safe, new_service_path,
          class: 'pull-right my-button-silver', style: 'margin:5px 0px;' </haml_loud>
  %hr{style: "margin-top:0;"}/
.span9.pull-right
  %h3 BIO
  %p
    - if @user.bio && !@user.bio.empty?
      .well
        %p= @user.bio
    - else
      .well{ style: "min-height: 200px;"}
        %p
          %em Empty.
