<% if @user.researcher? %>
  <%= link_to '← back', researchers_path %>
<% elsif @user.provider? %>
  <%= link_to '← back', providers_path %>
<% end %>
<div class="row">
  <div class="span9">
    <h2>bitBIO Account: <%= @user.first_name %> <%= @user.last_name %></h2>
  </div>
</div>
<hr>
<div class="row">
  <div class="span3">
    <h3>Account Info</h3>
    <% if current_user?(@user) %>
      <p><%= link_to 'edit', edit_user_path, class: 'btn' %></p>
    <% end %>
    <dl>
      <dt>General</dt>
      <dd>
        <% if @user.researcher? %>
          <i class="icon-user"></i> 
        <% elsif @user.provider? %>
          <i class="icon-home"></i> 
        <% end %>
        <%= @user.account_type %></dd>
      <dd><%= @user.full_name %></dd>
      <dd><%= mail_to(@user.email) %></dd>
      <dd><%= @user.phone %></dd>
    </dl>
    <dl>
      <dt>Scientific</dt>
      <dd><%= @user.organization %></dd>
      <dd><%= @user.bio %></dd>
    </dl>
    <dl>
      <dt>Location</dt>
      <dd><%= @user.address %></dd>
      <dd><%= @user.city %>, <%= @user.state %>, <%= @user.zip %></dd>
      <dd><%= @user.country %></dd>
    </dl>
  </div>
  <div class="span6">
    <h3>Projects</h3>
    <% unless @projects.empty? %>
      <% @projects.each do |project| %>
        <%= render 'projects/project', project: project %>
      <% end %>
    <% else %>
      <em>n/a</em>
    <% end %>
  </div>
</div>
