<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "#{@user.full_name}") %>
  <% end %>
  <% content_for :description do %>
    <%= @user.full_name %> - <%= @user.bio %>
  <% end %>
<% end %>

<% if current_user %>
<div class="row" style="margin-top: 10px;">
  <div class="span4">
    <%= link_to "&larr; back".html_safe, :back %>
  </div>
</div>
<% end %>

<div class="row" style="margin-top: 10px;">
  <div class="span9">
    <h2>bitBIO Account: <%= @user.full_name %> 
    <% if current_user?(@user) %>
      <%= link_to 'edit', edit_user_path(@user) %>
    <% end %>  
    </h2>
  </div>
</div>
<hr>
<% if current_user && current_user?(@user) && !current_user.verified %>
	<div class="alert">
		<strong>NOTICE:</strong>
	  Your account has not been verified. <%= link_to 'Resend verification email', user_resend_url(current_user), disable_with: 'Sending...' %>
	</div>
<% end %>

<div class="row">
  <div class="span3">
    <h3>Account Info</h3>
    <dl>
      <dt>General</dt>
      <dd>
        <% if @user.researcher? %>
          <i class="icon-user"></i> 
        <% elsif @user.provider? %>
          <i class="icon-home"></i> 
        <% end %>
        <%= @user.account_type %></dd>
      <dd><%= @user.full_name %></dd>
    </dl>
    <dl>
      <dt>Scientific</dt>
      <dd><%= @user.organization %></dd>
      <dd><%= @user.bio %></dd>
    </dl>
    <dl>
      <dt>Location</dt>
      <% if @user.full_address_present? %>
      <dd><%= @user.address %></dd>
      <dd><%= @user.city %>, <%= @user.state %>, <%= @user.zip %></dd>
      <dd><%= @user.country %></dd>
      <% else %>
      <dd><%= @user.country %></dd>
      <% end %>
    </dl>
  </div>
  <div class="span6">
    <h3>Projects</h3>
    <% unless @projects.empty? %>
      <% @projects.each do |project| %>
        <%= render 'projects/project', project: project %>
      <% end %>
    <% else %>
      <div class="span3">
        <p><em>None...</em></p>
      </div>
    <% end %>
  </div>
</div>
