<% resource_header = resource_header(request.path) %>
<% unless resource_header.blank? %>
  <% if current_user && (controller_name != 'projects' && action_name != 'index') %>
    <div class="row">
      <div class="span3">
        <%= link_to "&larr; back".html_safe, :back %>
      </div>
      <div class="span9 pull-right" style="margin-bottom: 10px;">
        <h1 class="underline-header"><%= resource_header %></h1>
      </div>
    </div>
  <% elsif current_user && (controller_name != 'blogs' && action_name != 'index') %>
    <div class="row">
      <div class="span3">
        <%= link_to "&larr; back".html_safe, :back %>
      </div>
      <div class="span9 pull-right" style="margin-bottom: 10px;">
        <h1 class="underline-header"><%= resource_header %></h1>
      </div>
    </div>
  <% else %>
    <div class="span9 pull-right" style="margin-bottom: 10px;">
      <h1 class="underline-header"><%= resource_header %></h1>
    </div>
  <% end %>
<% end %>