
<%= form_tag projects_path, :method => 'get' do %>
<h2 id="sidebar_header">Search Projects</h2>
<div class="row">
  <div class="span3">
    <label style="margin-left: 8px;">location:</label>
    <%= select_tag :location, options_for_select(['Asia', 'Australia', 'Europe', 'Africa', 'North America', 'South America'], selected: params[:location]), 
    { prompt: "Any location", class: 'span2' } %>
  </div>
</div>

<div class="row">
  <div class="span3">
    <label style="margin-left: 8px;">needs:</label>
    
    <%= select_tag :science, options_for_select(Project::SERVICE_NEEDS, selected: params[:science]), 
    { prompt: "Any", class: 'span2' } %>
  </div>
</div>

<div class="row">
  <div class="span3">
    <label style="margin-left: 8px;">instrument or software:</label>
    <%= select_tag :instrument, options_for_select(Instrument.pluck(:alias).uniq.sort, 
    selected: params[:instrument]), 
    { prompt: "Any instrument or software", class: 'span2' } %>
  </div>
</div>

<div class="row">
  <div class="span3">
    <label style="margin-left: 8px;">starting date:</label>
    <%= text_field_tag :start_date, params[:start_date], placeholder: "from" %>
    <%= text_field_tag :end_date, params[:end_date], placeholder: "to" %>
  </div>
</div>
<div class="row">
  <div class="span3">
    <%= text_field_tag :keyword, params[:keyword], placeholder: "keyword(s)" %>
  </div>
</div>
<div class="row">
  <div class="span3">
    <p class="inline pull-left" style="margin-left: 8px;"><small><%= link_to 'clear', root_path %></small></p>
    <div class="pull-right">
      <%= submit_tag 'Find projects', :name => nil, id: 'find-project' %>
    </div>
  </div>
</div>
<% end %>
