
<%= form_tag projects_path, :method => 'get' do %>
<h2 class="info_header">Science Listings</h2>
<div class="row">
  <div class="span3">
    <label style="margin-left: 15px;">location:</label>
    <%= select_tag :location, options_for_select(Ravibhim::Continents::CONTINENTS, selected: params[:location]), 
    { prompt: "any", class: 'span2' } %>
  </div>
</div>

<div class="row">
  <div class="span3">
    <label style="margin-left: 15px;">needs:</label>
    
    <%= select_tag :science, options_for_select(Project::SERVICE_NEEDS, selected: params[:science]), 
    { prompt: "any", class: 'span2' } %>
  </div>
</div>

<div class="row">
  <div class="span3">
    <label style="margin-left: 15px;">tag:</label>
    <%= select_tag :tag, options_for_select(Project::TAGS, 
    selected: params[:tag]), 
    { prompt: "any", class: 'span2' } %>
  </div>
</div>

<div class="row">
  <div class="span3">
    <label style="margin-left: 13px;">listing date:</label>
    <%= text_field_tag :start_date, params[:start_date], placeholder: "from" %>
    <%= text_field_tag :end_date, params[:end_date], placeholder: "to" %>
  </div>
</div>
<div class="row">
  <div class="span3">
    <%= text_field_tag :keyword, params[:keyword], placeholder: "keyword(s)" %>
  </div>
</div>
<div class="row">
  <div class="span3">
    <p class="inline pull-left" style="margin-left: 8px;"><small><%= link_to 'clear', root_path %></small></p>
    <div class="pull-right">
      <button class="my-button-blue" data-disable-with="Please wait...">
        <i class="icon-beaker"></i> Search
      </button>
    </div>
  </div>
</div>
<% end %>
