
<%= form_tag projects_path, :method => 'get' do %>
<h2 id="sidebar_header">Project Search</h2>
<div class="row">
  <div class="span3">
    <label style="margin-left: 8px;">Country:</label>
    <%= select_tag :country, options_for_select(User::COUNTRIES, selected: params[:country]), 
    { prompt: "All countries", class: 'span2' } %>
  </div>
</div>

<div class="row">
  <div class="span3">
    <label style="margin-left: 8px;">Science Type:</label>
    <%= select_tag :science, options_for_select(Project::SCIENCE_TYPES.uniq.sort, selected: params[:science]), 
    { prompt: "All science types", class: 'span2' } %>
  </div>
</div>

<div class="row">
  <div class="span3">
    <label style="margin-left: 8px;">Instrument:</label>
    <%= select_tag :instrument, options_for_select(Project::SCIENCE_EQUIPMENT.uniq.sort, 
    selected: params[:instrument]), 
    { prompt: "Any instrument", class: 'span2' } %>
  </div>
</div>

<div class="row">
  <div class="span3">
    <label style="margin-left: 8px;">Project Starting Date:</label>
    <%= text_field_tag :start_date, params[:start_date], placeholder: "from" %>
    <%= text_field_tag :end_date, params[:end_date], placeholder: "to" %>
  </div>
</div>
<div class="row">
  <div class="span3">
    <%= text_field_tag :keyword, params[:keyword], placeholder: "keyword(s)" %>
  </div>
</div>
<div class="row">
  <div class="span3">
    <p class="inline pull-left" style="margin-left: 8px;"><small><%= link_to 'clear', root_path %></small></p>
    <div class="pull-right">
      <%= submit_tag "Find projects", :name => nil, class: 'btn btn-info' %>
    </div>
  </div>
</div>
<% end %>
