<h5><%= location.locationable.name %></h5>

<ul class="unstyled">
  <% if location.address1 && location.address2 %>
   <li><%= location.address1 %>, <%= location.address2 %></li>
  <% elsif location.address1 %>
    <li><%= location.address1 %></li>
  <% end %>
  <% if location.address3 %>
    <li><%= location.address3 %></li>
  <% end %>
  <li><%= city_state_zip_country(location) %></li>
</ul>
