<fieldset>
  <%= f.text_field :address1, class: 'span5', placeholder: "address1" %>
  <%= f.text_field :address2, class: 'span5', placeholder: "address2" %>
  <%= f.text_field :address3, class: 'span5', placeholder: "address3" %>
  <br>
  <%= f.text_field :city, class: 'span2', placeholder: "city" %>
  <%= f.text_field :state, class: 'span2', placeholder: "state" %>
  <%= f.text_field :zip, class: 'span2', placeholder: "zip" %>
  <%= f.select :country, Ravibhim::Continents::COUNTRIES, { prompt: "--select--" }, class: "span5" %>
  <br>
  <label>Display on Map:</label>
  <%= f.select :display_on_map, [true, false] %>
</fieldset>