.row
  .span3
    .smaller-shell
      %h2.info_header Add Facility
      = form_for @facility do |f|
        .center
          = render 'shared/error_messages', object: f.object
          %label Name
          = f.text_field :name, class: 'span3', placeholder: "name", style: "width: 190px;"
          %label Location
          = f.fields_for :location do |builder|
            = render 'location_fields', f: builder
          %label Extra
          = f.text_field :website, class: 'span3', placeholder: "website", style: "width: 190px;"
          = f.text_field :email, class: 'span3', placeholder: "email", style: "width: 190px;"
          = f.text_field :phone, class: 'span3', placeholder: "phone", style: "width: 190px;"
          = f.submit 'Submit', class: "btn btn-info", disable_with: 'Submitting...'
  .span9
    %h2.underline-header facilities
    %br
    = gmaps4rails(@json)
- if current_user && current_user.admin?
  .row
    .span12
      = will_paginate @facilities_off_map
  .row
    .span12
      %h2 Facilities not on map
      = link_to 'add new', new_facility_path, class: 'btn'
      %table.table.table-striped
        %thead
          %tr
            %th ID
            %th Facility
            %th Contact Info
            %th Address
            %th On Map?
        %tbody
          - @facilities_off_map.each do |f|
            %tr
              %td= f.id
              %td= f.name
              %td
                - if f.website
                  = Rinku.auto_link(f.website, :all, 'target="_blank"').html_safe
                  %br/
                = f.email
                %br/
                = f.phone
              %td
                - if f.location.present?
                  - if f.location.address1 && f.location.address2
                    = f.location.address1
                    , #{f.location.address2}
                    %br/
                  - elsif f.location.address1
                    = f.location.address1
                    %br/
                  - if f.location.address3
                    = f.location.address3
                    %br/
                  = city_state_zip_country(f.location)
                  %br/
                  - if f.location.geocoded?
                    = f.location.latitude
                    \/#{f.location.longitude}
                  - else
                    %span.red NO COORDINATES
                - else
                  %span.red NO LOCATION
              %td
                - if f.location.geocoded?
                  = f.location.display_on_map
                - else
                  false
              %td
                = link_to 'edit', edit_facility_path(f), class: 'btn btn-small'
                = link_to 'remove', facility_path(f), class: 'btn btn-small btn-danger', method: :delete, confirm: "Are you sure?"
  .row
    .span12
      = will_paginate @facilities_off_map
