<div class="row">
  <div class="span3"></div>
  <div class="span9 pull-right">
    <%= gmaps4rails(@json) %>
  </div>
</div>
<% if current_user && current_user.admin? %>
  <div class="row">
    <div class="span12">
      <h2>Facilities</h2>
      <%= link_to 'add new', new_facility_path, class: 'btn' %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Contact Info</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <% @facilities.each do |f| %>
            <tr>
              <td><%= f.id %></td>
              <td><%= f.name %></td>
              <td>
                <% if f.website %>
                  <%= Rinku.auto_link(f.website, :all, 'target="_blank"').html_safe %><br>
                <% end %>
                <%= f.email %><br>
                <%= f.phone %>
              <td>
                <% if f.location.address1 && f.location.address2 %>
                  <%= f.location.address1 %>, <%= f.location.address2 %><br>
                <% elsif f.location.address1 %>
                  <%= f.location.address1 %><br>
                <% end %>
                <% if f.location.address3 %>
                  <%= f.location.address3 %><br>
                <% end %>
                <%= city_state_zip_country(f.location) %><br>
                <% if f.location.geocoded? %>
                  <%= f.location.latitude %>/<%= f.location.longitude %>
                <% else %>
                  <span class='red'>NO COORDINATES</span>
                <% end %>
              </td>
              <td>
                <%= link_to 'edit', edit_facility_path(f), class: 'btn btn-small' %>
                <%= link_to 'remove', facility_path(f), class: 'btn btn-small btn-danger', method: :delete,
                    confirm: "Are you sure?"%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
