<div class="span3 event-well">
  <div class="row">
    <div class="span3" style="width: 204px;">
      <div class="event">
        <% if event.attachments.any? %>
          <%= link_to image_tag(event.attachments.first.image.url, 
              title: event.user.full_name).to_s, event_path(event) %>
        <% else %>
          <%= link_to "<i class='icon-calendar-empty'></i>".html_safe, event_path(event), title: event.user.full_name %>
        <% end %>
      </div>
      <div class="top">
        <div style="height:0px;" class="start">
          <div class="inside">
            <strong><%= event.start_date.strftime("%D") %></strong><br>
            <i class="icon-eye-open dark"></i><span class="dark">: <%= event.view_count %></span>
            <i class="icon-comment dark"></i><span class="dark">: <%= event.comments.count %></span>
          </div>
        </div>
        <h4><%= link_to truncate(event.title, length: 80), event_path(event), title: event.title %></h4>
        <p><%= event.organizer %></p>
      </div>
      <div class="row" style="margin-top:.5em;">
        <div class="span3" style="width: 204px;">
          <div class="small-links">
            <% if event.tags.any? %>
            <i class="icon-tags dark"></i>: <%= raw event.tags.map { |t| link_to t.name, tag_events_path(t.name)  }.join(', ') %>
            <% else %>
            <i class="icon-tags dark"></i>: n/a
            <% end %>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>