<%= form_for @event do |f| %>
  <div class="row">
    <div class="span9">
      <%= render 'shared/error_messages', object: f.object %>
      <% if @event.new_record? %>
        <h2><i class="icon-calendar-empty"></i> New Event</h2>
      <% else %>
        <h2><i class="icon-calendar-empty"></i> Editing Event</h2>
      <% end %>
      <hr>
      <div class="row">
        <div class="span9">
          <i class="icon-asterisk red"></i> Event Title:
          <%= f.text_field :title, class: 'span9' %>
        </div>
      </div>
      <div class="row">
        <div class="span9">
          <i class="icon-asterisk red"></i> Photo:
        </div>
      </div>
      <div class="row">
        <div class="span9">
         <%= f.fields_for :attachments do |attch| %>
           <% attch.object.new_record? ? new_attch = "new_attch" : new_attch = '' %>
           <fieldset class="<%= new_attch %>">
              <% if attch.object.new_record? %>
                <%= attch.file_field :image %>
              <% else %>
                <%= image_tag(attch.object.image.url).to_s %>
                <%= f.hidden_field :_destroy %>
                <%= link_to "<i class='icon-trash'></i> remove".html_safe, '#', class: 'remove_fields', 
                    style: 'margin-left: 5px;' %>
              <% end %>
           </fieldset>
         <% end %>
          <p style="margin-top: 5px;"><small>Accepted file formats: jpg jpeg gif png.</small></p>
        </div>
      </div>
      
      <hr>
      <div class="row">
        <div class="span9">
          <i class="icon-asterisk red"></i> Event Dates:
        </div>
      </div>
      <br>
      <div class="row">
        <div class="span2">
          Start Date-Time
        </div>
        <div class="span7">
          <%= f.datetime_select :start_date, { minute_step: 15, use_short_month: true }, { class: "span1" } %>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          End Date-Time
        </div>
        <div class="span7">
          <%= f.datetime_select :end_date, { minute_step: 15, use_short_month: true }, { class: "span1" } %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="span1" style="width: 90px;">
          <label><i class="icon-asterisk red"></i> Location:</label>
        </div>
        <div class="span8" style="width: 590px;">
          <%= f.fields_for :location do |builder| %>
            <%= render 'location_fields', f: builder %>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="span9">
          Organized by:
        </div>
      </div>
      <div class="row">
        <div class="span9">
          <%= f.text_field :organizer, class: 'span4' %>
        </div>
      </div>
      <div class="row">
        <div class="span9">
          Phone:
        </div>
      </div>
      <div class="row">
        <div class="span9">
          <%= f.text_field :phone, class: 'span4' %>
        </div>
      </div>
      <div class="row">
        <div class="span9">
          Website:
        </div>
      </div>
      <div class="row">
        <div class="span9">
          <%= f.text_field :website, class: 'span9' %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="span9">
          <i class="icon-asterisk red"></i> Description:
        </div>
      </div>
        <br>
        <%= f.cktext_area :description %>
        <br>

       <div class="row" style="margin-top: 20px;">
          <div class="span1" style="width: 90px;">
            <label>Tags:</label>
          </div>
          <div class="span8" style="width: 590px;">
            <p>Tag your event for optimal search queries (delimiters: tab, enter, comma). Maximum: 6.</p>
            <% @event.tag_list.blank? ? event_tags = ["bitbio"] : event_tags = @event.tag_list %>
            <div id="event-tags" data-tags="<%= Project::TAGS %>"></div>
            <div id="event-prefilled-tags" data-tags="<%= event_tags %>"></div>
            <input style="width: 100px;" type="text" name="event[tag_list]" placeholder="tag" 
              class="event-tm-input" autocomplete="off"/>
          </div>
        </div>
        <hr>
        <p>You may preview your event entry by selecting the preview icon at the top of the event editor.</p>
        <p>All event entries may be edited after submission.</p>
      <div class="row" style="margin-top: 20px;">
        <div class="span9">
          <% if @event.new_record? %>
            <%= f.submit 'Submit Event Entry', class: "my-button large-button", disable_with: 'Submitting...',
                style: 'margin-bottom: 5px;' %> |
            <%= link_to 'cancel', root_path %>
          <% else %>
            <%= f.submit 'Update Event Entry', class: "my-button large-button", disable_with: 'Submitting...',
                style: 'margin-bottom: 5px;' %> |
            <%= link_to 'cancel', @event %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
<% end %>