<% @event.bitly_url? ? share_url = @event.bitly_url : share_url = request.url %>

<% if current_user %>
<div style="height: 0px;"><%= link_to "<i class='icon-plus'></i> ADD EVENT".html_safe, new_event_path, class: 'my-button-blue',
style: 'position:relative; left: 587px; top: -40px' %></div>
<% end %>

<div class="span9 pull-right" id='event-header'>
  <div class="row">
    <div class="span2" style="width: 80px;">
      <% if @event.attachments.any? %>
        <%= image_tag(@event.attachments.first.image.url, title: @event.title).to_s %>
      <% else %>
        <i class='icon-calendar-empty huge dark'></i>
      <% end %>
    </div>
    <div class="span7" style="width: 600px;">
      <h2 style="margin-top:0px; padding-top:0px;"><%= @event.title %></h2>
      <div class="row">
        <div class="span4" style="width: 400px;">
          <p>
            <i class="icon-time"></i>
            <%= date_time_info(@event) %>
            <small>
              <span style="margin-left: 5px;"><%= pluralize(@event.view_count, 'VIEW', 'VIEWS') %></span>
              <span style="margin-left: 5px;"><%= pluralize(@event.comments.count, 'COMMENT', 'COMMENTS') %></span>
            </small>
          </p>
          <% if @event.website.present? %>
            <p><i class="icon-link"></i> <%= Rinku.auto_link(@event.website, :all, 'target="_blank"').html_safe %></p>
          <% end %>
          <% if @event.phone.present? %>
            <p><i class="icon-phone"></i> <%= @event.phone %></p>
          <% end %>
          <% unless @event.organizer.blank? %>
            <p>Organized by <%= @event.organizer %>.</p>
          <% end %>
        </div>
        <div class="span1" style="width: 15px; margin:0px;"><i class="icon-map-marker"></i></div>
        <div class="span2" style="width: 165px; margin-left:0px;">
          <ul class="unstyled">
            <li><%= @event.location.address1 %></li>
            <li><%= @event.location.address2 %></li>
            <li><%= @event.location.address3 %></li>
            <li><%= @event.location.city %>, <%= @event.location.state %>, <%= @event.location.zip %></li>
            <li><%= country_with_us_shortened(@event.location.country) %></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row" style="margin-bottom: 5px;">
        <div class="span1" style="width:80px">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= share_url %>" data-text="<%= @event.title %>" data-via="2Bitbio" data-counturl="<%= request.url %>">Tweet</a>
        </div>
        <div class="span1" style="padding-top: 1px; width:80px;">
          <div class="fb-like" data-href="<%= request.url %>" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false" data-font="arial"></div>
        </div>
        <div class="span1" style="width:80px">
          <script src="//platform.linkedin.com/in.js" type="text/javascript">
           lang: en_US
          </script>
          <script type="IN/Share" data-url="<%= request.url %>" data-counter="right"></script>
        </div>
        <div class="span1" style="width:80px">
          <div class="g-plusone" data-size="medium"></div>
          <script type="text/javascript">
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
        </div>
        <div class="pull-right">
          <% if current_user?(@event.user) %>
            <%= link_to '<i class="icon-edit"></i> edit'.html_safe, edit_event_path(@event), class: 'my-button-red' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if @event.tags.any? %>
    <i class="icon-tags dark"></i> tags: 
    <div class="smaller inline">
      <%= raw @event.tags.map { |t| link_to t.name, tag_events_path(t.name)  }.join(', ') %>
    </div>
  <% else %>
    <i class="icon-tags dark"></i> tags: n/a
  <% end %>
  <hr style="margin-top:5px;">
</div>
<hr>