= form_for @project do |f|
  - if @project.new_record?
    %h2 New Project Listing
  - else
    %h2 Editing Project
  %br/
  = render 'shared/error_messages', object: f.object
  #project-accordian.accordion
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#project-accordian", "data-toggle" => "collapse", :href => "#collapseOne"}
          1. General
      #collapseOne.accordion-body.collapse.in
        .accordion-inner
          %label Choose a science type. Begin typing for suggestions...
          %input#project_science_type.span6{:autocomplete => "off", "data-provide" => "typeahead", "data-source" => Project::SCIENCE_TYPES.uniq.sort, :name => "project[science_type]", :placeholder => "e.g. DNA Sequencing, RNA Purification, etc.", :size => "30", :style => "margin-bottom: 0;", :type => "text", :value => @project.science_type}/
          %hr/
          %label{ style: "margin-bottom:15px;"}
            What best describes the needs for your scientific project?
          .radio-account-types.body-width.well
            .row{:style => "width: 650px;"}
              .span2{:style => "width: 160px;"}
                = f.radio_button :service_need, Project::SERVICE_NEEDS[0], checked: true
                %label Services Only
              .span2{:style => "width: 205px;"}
                = f.radio_button :service_need, Project::SERVICE_NEEDS[1]
                %label= Project::SERVICE_NEEDS[1]
              .span3{:style => "width: 200px;"}
                = f.radio_button :service_need, Project::SERVICE_NEEDS[2]
                %label= Project::SERVICE_NEEDS[2]
            .row{:style => "width: 650px;"}
              .span2{:style => "width: 160px;"}
                = f.radio_button :service_need, Project::SERVICE_NEEDS[3]
                %label= Project::SERVICE_NEEDS[3]
              .span2{:style => "width: 205px;"}
                = f.radio_button :service_need, Project::SERVICE_NEEDS[4]
                %label= Project::SERVICE_NEEDS[4]
              .span2{:style => "width: 200px;"}
                = f.radio_button :service_need, Project::SERVICE_NEEDS[5]
                %label= Project::SERVICE_NEEDS[5]
          %br/
          %label
            Do you have any Technology or Technique Requirements?

          = f.fields_for :instruments do |builder|
            = render 'instrument_fields', f: builder
          = link_to_add_fields "Add requirement +", f, :instruments
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#project-accordian", "data-toggle" => "collapse", :href => "#collapseTwo"}
          2. Project Details
      #collapseTwo.accordion-body.collapse
        .accordion-inner
          %label Choose a unique name for your project:
          = f.text_field :name, placeholder: 'e.g. Analyzing yeast histone modification', class: 'span6', style: 'margin-bottom: 0;'
          %hr/
          %label Please describe your project in detail:
          = f.text_area :description, class: 'span6', rows: 5, placeholder: "Description here..."
          %label Tag your project for optimal search queries (delimiters: tab, enter, comma). Maximum: 6. Begin typing for suggestions...
          #project-tags{"data-tags" => Project::TAGS}
          #project-prefilled-tags{"data-tags" => @project.tag_list}
          %input.tm-input{:autocomplete => "off", :name => "project[tag_list]", :placeholder => "Tag", :style => "width: 100px;", :type => "text"}/
          %hr/
          %label When does your project start?
          = f.text_field :start_date, placeholder: 'YYYY-MM-DD', style: 'margin-bottom: 0; width: 90px;'
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#project-accordian", "data-toggle" => "collapse", :href => "#collapseThree"}
          3. Visability
      #collapseThree.accordion-body.collapse
        .accordion-inner
          %br
          .radio-account-types.body-width
            - Project::VISABILITY_OPTIONS.each do |option|
              = f.radio_button :visability, option
              %label{:style => "width: 90px; margin-right: 5px;"}
                - if option == 'public'
                  %i.icon-globe{:style => "margin-right: 9px; margin-left: 2px;"}
                - elsif option == 'private'
                  %i.icon-group{:style => "margin-right: 7px;"}
                - elsif option == 'locked'
                  %i.icon-lock{:style => "margin-right: 9px; margin-left: 4px;"}
                = option.capitalize
              %em
                = visability_text(option)
              %br/
          %hr/

          .row
            .span9
              - if action_name == 'edit' || action_name == 'update'
                - if current_user?(@project.user)
                  = link_to "Remove", project_path(@project), method: :delete, confirm: "Are you sure?", class: 'my-button-red large-button pull-right', style: "margin-right:30px;"
                = f.submit 'Update Project', class: "btn btn-large", disable_with: 'Submitting...', style: 'margin-bottom: 8px;'
                |
                \#{link_to 'cancel', @project}
              - else
                = f.submit 'Preview My Project', class: "btn btn-large", disable_with: 'Submitting...', style: 'margin-bottom: 5px;'
                |
                \#{link_to 'cancel', current_user}
