<%= form_for @project do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="row" style="margin-top: 10px;">
    <% if @project.new_record? %>
      <h2>New Project Listing</h2>
    <% else %>
      <h2>Editing Project</h2>
    <% end %>
    <hr>
    <div class="row">
      <div class="span1">
        <label>Type:</label>
      </div>
      <div class="span8">
        <input class="span5" id="project_science_type" name="project[science_type]" 
        placeholder="e.g. dna sequencing, proteomics, microscopy, etc." size="30" type="text" 
        data-provide="typeahead" data-source="<%= Project::SCIENCE_TYPES.uniq.sort %>"
        autocomplete="off" 
        <% unless @project.new_record? %>
          value="<%= @project.science_type %>"
        <% end %>
         />

        <p>What type of project best defines your needs?</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span1">
        <label>Needs:</label>
      </div>
      <div class="span8" id="radio-account-types">
        <%= f.radio_button :service_need, "Science", checked: true  %>
        <label>Science</label>
        <%= f.radio_button :service_need, "Services"  %>
        <label>Services</label>
        <%= f.radio_button :service_need, "Science + Services"  %>
        <label>Science + Services</label>
        <%= f.radio_button :service_need, "Data Analysis"  %>
        <label>Data Analysis</label>
        <br>
        <%= f.radio_button :service_need, "Research Validation"  %>
        <label>Research Validation</label>
        <p>What best describes the needs for your scientific project?</p>
      </div>
    </div>
    <div class="row">
      <div class="span8 offset1" style="margin-bottom: 10px;">
        Equipment / Instruments needs?
      </div>
    </div>
    <div class="row">
      <div class="span8 offset1">
        <%= f.fields_for :instruments do |builder| %>
          <%= render 'instrument_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields "Add instrument", f, :instruments %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span1">
        <label>Name:</label>
      </div>
      <div class="span8">
        <%= f.text_field :name, placeholder: 'e.g. analyzing histone modification', class: 'span5' %>
        <p>Please choose a name that is unique to your project.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span1">
        <label>Description:</label>
      </div>
      <div class="span8">
        <%= f.text_area :description, class: 'span6', rows: 5, placeholder: 
        "Please describe your project in full detail." %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span1">
        <label>Start:</label>
      </div>
      <div class="span8">
        <%= f.text_field :start_date, value: Date.today %>
        <p class="inline"><small>(YYYY-MM-DD)</small></p>
        <p>Roughly, what date does your project start?</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span9">
        <%= link_to 'cancel', @project %>
        <% if action_name == 'edit' || action_name == 'update' %>
          <% if current_user?(@project.user) %>
            <%= link_to "Remove", project_path(@project), method: :delete, confirm: "Are you sure?", class: 'btn btn-large btn-danger pull-right' %>
          <% end %>
          <%= f.submit 'Update Project', class: "btn btn-success btn-large", disable_with: 'Submitting...' %>
        <% else %>
          <%= f.submit 'Submit Project', class: "btn btn-success btn-large", disable_with: 'Submitting...' %>
        <% end %>
      </div>
    </div>
    
  </div>
  
<% end %>