<%= form_for @project do |f| %>
  <div class="row" style="margin-top: 20px;">
    <%= render 'shared/error_messages', object: f.object %>
    <% if @project.new_record? %>
      <h2>New Project Listing</h2>
    <% else %>
      <h2>Editing Project</h2>
    <% end %>
    <hr>
    <div class="row">
      <div class="span1">
        <label>Type:</label>
      </div>
      <div class="span8">
        <input class="span5" id="project_science_type" name="project[science_type]" 
        placeholder="e.g. antibody production, scanning electron microscopy, etc." size="30" type="text" 
        data-provide="typeahead" data-source="<%= Project::SCIENCE_TYPES.uniq.sort %>"
        autocomplete="off" style="margin-bottom: 0;"
        <% unless @project.new_record? %>
          value="<%= @project.science_type %>"
        <% end %>
         />
        <p>What specific type of project best defines your needs?</p>
      </div>
    </div>
    <div class="row" style="margin-top: 5px;">
      <div class="span1">
        <label>Tag (#):</label>
      </div>
      <div class="span8">

        <%= f.select :tag, Project::TAGS, { prompt: "-- select --" }, { :style => 'margin-bottom: 0;' } %>
        <p>Tag your project with a science type for optimal search queries.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span1">
        <label>Needs:</label>
      </div>
      <div class="span8" id="radio-account-types">
        <div style="margin-right: 41px; display: inline;">
          <%= f.radio_button :service_need, Project::SERVICE_NEEDS[0], checked: true  %>
          <label><%= Project::SERVICE_NEEDS[0] %></label>
        </div>
        <div style="margin-right: 81px; display: inline;">
          <%= f.radio_button :service_need, Project::SERVICE_NEEDS[1]  %>
          <label><%= Project::SERVICE_NEEDS[1] %></label>
        </div>
        <%= f.radio_button :service_need, Project::SERVICE_NEEDS[2]  %>
        <label><%= Project::SERVICE_NEEDS[2] %></label>
        <br>
        <%= f.radio_button :service_need, Project::SERVICE_NEEDS[3] %>
        <label><%= Project::SERVICE_NEEDS[3] %></label>
        <%= f.radio_button :service_need, Project::SERVICE_NEEDS[4]  %>
        <label><%= Project::SERVICE_NEEDS[4] %></label>
        <%= f.radio_button :service_need, Project::SERVICE_NEEDS[5]  %>
        <label><%= Project::SERVICE_NEEDS[5] %></label>
        <p>What best describes the needs for your scientific project?</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span8 offset1" style="margin-bottom: 10px;">
        Equipment / Instrument / Software needs?
      </div>
    </div>
    <div class="row">
      <div class="span8 offset1">
        <%= f.fields_for :instruments do |builder| %>
          <%= render 'instrument_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields "Add new +", f, :instruments %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span1">
        <label>Name:</label>
      </div>
      <div class="span8">
        <%= f.text_field :name, placeholder: 'e.g. analyzing histone modification', class: 'span5', 
        style: 'margin-bottom: 0;' %>
        <p>Please choose a unique name for your project.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span1">
        <label>Description:</label>
      </div>
      <div class="span8">
        <%= f.text_area :description, class: 'span6', rows: 5, placeholder: 
        "Please describe your project in detail." %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span1">
        <label>Start:</label>
      </div>
      <div class="span8">
        <%= f.text_field :start_date, placeholder: 'YYYY-MM-DD', style: 'margin-bottom: 0;' %>
        <p>What date does your project start?</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span9">
        <% if action_name == 'edit' || action_name == 'update' %>
          <% if current_user?(@project.user) %>
            <%= link_to "Remove", project_path(@project), method: :delete, confirm: "Are you sure?", 
            class: 'my-button-red large-button pull-right' %>
          <% end %>
          <%= f.submit 'Update Project', class: "my-button large-button", disable_with: 'Submitting...' %> | 
          <%= link_to 'cancel', current_user %>
        <% else %>
          <%= f.submit 'List My Project', class: "my-button large-button",disable_with: 'Submitting...' %> |
          <%= link_to 'cancel', current_user %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>