<%= form_for @project do |f| %>
  <div class="row">
    <%= render 'shared/error_messages', object: f.object %>
    <% if @project.new_record? %>
      <h2><i class="icon-beaker"></i> New Project Listing</h2>
    <% else %>
      <h2>Editing Project</h2>
    <% end %>
    <hr>
    <div class="row">
      <div class="span1" style="width: 90px;">
        <label><i class="icon-asterisk red"></i> Type:</label>
      </div>
      <div class="span8" style="width: 590px;">
        <input class="span5" id="project_science_type" name="project[science_type]" 
        placeholder="e.g. antibody production, RNA purification, etc." size="30" type="text" 
        data-provide="typeahead" data-source="<%= Project::SCIENCE_TYPES.uniq.sort %>"
        autocomplete="off" style="margin-bottom: 0;"
          value="<%= @project.science_type %>"
         />
        <p>What specific type of project best defines your needs?</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span1" style="width: 90px;">
        <label><i class="icon-asterisk red"></i> Needs:</label>
      </div>
      <div class="span8 radio-account-types" style="width: 590px;">
        <div class="row" style="width: 630px;">
          <div class="span2" style="width: 160px;">
            <%= f.radio_button :service_need, Project::SERVICE_NEEDS[0], checked: true  %>
            <label><%= Project::SERVICE_NEEDS[0] %></label>
          </div>
          <div class="span2" style="width: 205px;">
            <%= f.radio_button :service_need, Project::SERVICE_NEEDS[1]  %>
            <label><%= Project::SERVICE_NEEDS[1] %></label>
          </div>
          <div class="span3" style="width: 200px;">
            <%= f.radio_button :service_need, Project::SERVICE_NEEDS[2]  %>
            <label><%= Project::SERVICE_NEEDS[2] %></label>
          </div>
        </div>
        <div class="row" style="width: 630px;">
          <div class="span2" style="width: 160px;">
            <%= f.radio_button :service_need, Project::SERVICE_NEEDS[3] %>
            <label><%= Project::SERVICE_NEEDS[3] %></label>
          </div>
          <div class="span2" style="width: 205px;">
            <%= f.radio_button :service_need, Project::SERVICE_NEEDS[4]  %>
            <label><%= Project::SERVICE_NEEDS[4] %></label>
          </div>
          <div class="span2" style="width: 200px;">
            <%= f.radio_button :service_need, Project::SERVICE_NEEDS[5]  %>
            <label><%= Project::SERVICE_NEEDS[5] %></label>
          </div>
        </div>

        <p>What best describes the needs for your scientific project needs?</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span8" style="margin-bottom: 10px; width: 590px; padding-left: 110px;">
        Equipment / Instrument / Software / Method
      </div>
    </div>
    <div class="row">
      <div class="span8" style="width: 590px; padding-left: 110px;">
        <%= f.fields_for :instruments do |builder| %>
          <%= render 'instrument_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields "Add new +", f, :instruments %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span1" style="width: 90px;">
        <label><i class="icon-asterisk red"></i> Name:</label>
      </div>
      <div class="span8" style="width: 590px;">
        <%= f.text_field :name, placeholder: 'e.g. analyzing histone modification', class: 'span5', 
        style: 'margin-bottom: 0;' %>
        <p>Please choose a unique name for your project.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span1" style="width: 90px;">
        <label><i class="icon-asterisk red"></i> Description:</label>
      </div>
      <div class="span7" style="width: 590px;">
        <%= f.text_area :description, class: 'span6', rows: 5, placeholder: 
        "Please describe your project in detail." %>
      </div>
    </div>
    <div class="row" style="margin-top: 5px;">
      <div class="span1" style="width: 90px;">
        <label>Tags:</label>
      </div>
      <div class="span8" style="width: 590px;">
        <% @project.tag_list.blank? ? project_tags = ["bitbio"] : project_tags = @project.tag_list %>
        <div id="project-tags" data-tags="<%= Project::TAGS %>"></div>
        <div id="project-prefilled-tags" data-tags="<%= project_tags %>"></div>
        <input style="width: 100px;" type="text" name="project[tag_list]" placeholder="tag" class="tm-input" autocomplete="off"/>
        <p>Tag your project for optimal search queries (delimiters: tab, enter, comma). Maximum: 6.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span1" style="width: 90px;">
        <label><i class="icon-asterisk red"></i> Start:</label>
      </div>
      <div class="span8" style="width: 590px;">
        <%= f.text_field :start_date, placeholder: 'YYYY-MM-DD', style: 'margin-bottom: 0; width: 90px;' %>
        <p>What date does your project start?</p>
      </div>
    </div>
    <hr>
    
    <div class="row">
      <div class="span1" style="width: 90px;">
        <label>Visability:</label>
      </div>
      <div class="span8 radio-account-types" style="width: 590px;">
        <% Project::VISABILITY_OPTIONS.each do |option| %>
          <%= f.radio_button :visability, option %>
          <label style="width: 90px; margin-right: 5px;">
            <% if option == 'public' %>
            <i class="icon-globe" style="margin-right: 9px; margin-left: 2px;"></i>
            <% elsif option == 'private' %>
            <i class="icon-group" style="margin-right: 7px;"></i>
            <% elsif option == 'locked' %>
            <i class="icon-lock" style="margin-right: 9px; margin-left: 4px;"></i>
            <% end %>
            <%= option.capitalize %>
          </label>
          <%= visability_text(option) %>
          <br>
        <% end %>
        <p>Who can view your project?</p>
      </div>
    </div>
    <hr>
    <% if action_name == 'new' || action_name == 'create' %>
      <div class="row">
        <div class="span1" style="width: 90px;">
          <label>Plan:</label>
        </div>
        <div class="span8 radio-account-types" style="width: 590px;">
          <%= f.radio_button :expiration_date, Date.today + 30.days, checked: true  %>
          <label>30 day listing - FREE</label>
          <br>
          <%= f.radio_button :expiration_date, Date.today + 90.days  %>
          <label>90 day listing - $60</label>
          <br>
          <%= f.radio_button :expiration_date, Date.today + 180.days  %>
          <label>180 day listing - $100</label>
          <p>How long would you like to list your project?</p>
        </div>
      </div>
      <hr>
    <% end %>
    
    <div class="row">
      <div class="span9">
        <% if action_name == 'edit' || action_name == 'update' %>
          <% if current_user?(@project.user) %>
            <%= link_to "Remove", project_path(@project), method: :delete, confirm: "Are you sure?", 
            class: 'my-button-red large-button pull-right' %>
          <% end %>
          <%= f.submit 'Update Project', class: "my-button large-button", disable_with: 'Submitting...',
          style: 'margin-bottom: 8px;' %> | 
          <%= link_to 'cancel', @project %>
        <% else %>
          <%= f.submit 'List Project', class: "my-button large-button", disable_with: 'Submitting...',
              style: 'margin-bottom: 5px;' %> |
          <%= link_to 'cancel', current_user %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>