= form_for @project do |f|
  .right-left-padding
    %br
    = render 'shared/error_messages', object: f.object
    %label What protocol best describes your project? (Begin typing for suggestions...)
    %input.span6{:autocomplete => "off", "data-provide" => "typeahead", "data-source" => Project::PROTOCOLS.uniq.sort, :name => "project[protocol]", :placeholder => "e.g. DNA Sequencing, RNA Purification, etc.", :size => "30", :style => "margin-bottom: 0;", :type => "text", :value => @project.protocol}/
    %hr/
    %label{ style: "margin-bottom:15px;"}
      What best describes your project needs?
    .radio-account-types.body-width.well
      .row{:style => "width: 650px;"}
        .span2{:style => "width: 160px;"}
          = f.radio_button :service_need, Project::SERVICE_NEEDS[0], checked: true
          %label Services Only
        .span2{:style => "width: 205px;"}
          = f.radio_button :service_need, Project::SERVICE_NEEDS[1]
          %label= Project::SERVICE_NEEDS[1]
        .span3{:style => "width: 200px;"}
          = f.radio_button :service_need, Project::SERVICE_NEEDS[2]
          %label= Project::SERVICE_NEEDS[2]
      .row{:style => "width: 650px;"}
        .span2{:style => "width: 160px;"}
          = f.radio_button :service_need, Project::SERVICE_NEEDS[3]
          %label= Project::SERVICE_NEEDS[3]
        .span2{:style => "width: 205px;"}
          = f.radio_button :service_need, Project::SERVICE_NEEDS[4]
          %label= Project::SERVICE_NEEDS[4]
        .span2{:style => "width: 200px;"}
          = f.radio_button :service_need, Project::SERVICE_NEEDS[5]
          %label= Project::SERVICE_NEEDS[5]
    %br/
    %label
      Do you have any specific Requirements? (instrument, software, etc.)

    = f.fields_for :instruments do |builder|
      = render 'instrument_fields', f: builder
    = link_to_add_fields "Add requirement +", f, :instruments
  %hr
  .right-left-padding
    %label Choose a unique name for your project:
    = f.text_field :name, placeholder: 'e.g. Analyzing yeast histone modification', class: 'span7', style: 'margin-bottom: 0;'
    %hr/
    %label Please describe your project in some detail:
    = f.text_area :description, class: 'span7', rows: 8, placeholder: "Description here..."
    %label Tag your project for optimal search queries (delimiters: tab, enter, comma). Maximum: 6.
    #project-tags{"data-tags" => Project::TAGS}
    #project-prefilled-tags{"data-tags" => @project.tag_list}
    %input.tm-input{:autocomplete => "off", :name => "project[tag_list]", :placeholder => "Tag", :style => "width: 100px;", :type => "text"}/
    %hr/
    %label When does your project start?
    = f.text_field :start_date, placeholder: 'YYYY-MM-DD', style: 'margin-bottom: 0; width: 90px;'
  %hr
  .right-left-padding
    %label Visibility:
    .radio-account-types.body-width
      - Project::VISABILITY_OPTIONS.each do |option|
        = f.radio_button :visability, option
        %label{:style => "width: 90px; margin-right: 5px;"}
          - if option == 'public'
            %i.icon-globe{:style => "margin-right: 9px; margin-left: 2px;"}
          - elsif option == 'private'
            %i.icon-group{:style => "margin-right: 7px;"}
          - elsif option == 'locked'
            %i.icon-lock{:style => "margin-right: 9px; margin-left: 4px;"}
          = option.capitalize
        %em
          = visability_text(option)
        %br/
    %hr/

    .row
      .span9
        - if action_name == 'edit' || action_name == 'update'
          - if current_user?(@project.user)
            = link_to "Remove", project_path(@project), method: :delete, confirm: "Are you sure?", class: 'my-button-red large-button pull-right', style: "margin-right:40px;"
          = f.submit 'Update Project', class: "btn btn-large", disable_with: 'Submitting...', style: 'margin-bottom: 8px;'
          |
          \#{link_to 'cancel', @project}
        - else
          = f.submit 'Preview My Project', class: "btn btn-large btn-info", disable_with: 'Submitting...', style: 'margin-bottom: 5px;'
          |
          \#{link_to 'cancel', current_user}
