- action_name == "project_listings" ? add_class = "change_n" : add_class = ''
%div{:class => "span3 project-well #{add_class}"}
  .row{:style => "padding-left: 20px; margin-top: 2px;"}
    %div{:class => "service center"}
      = link_to truncate(project.name, length: 42), project_path(project)
  %h4{ style: "margin-top:5px;"}
    %i.icon-beaker
    = truncate(project.protocol, length: 28)
  .head
    %i.icon-map-marker.green{ style: "padding-left:2px;"}
    = country_with_us_shortened(project.country)
  - if current_user?(project.user) && controller_name != 'projects' && project.active?
    .small-links
      - if project.expiration_date
        expires on
        \#{project.expiration_date.strftime("%b %e, %Y")}
  - else
    .small-links
      = raw project.tags.map { |t| link_to t.name, tag_projects_path(t.name)  }.join(', ')
  %p
    = truncate(project.description, length: 160)
    = link_to "more", project_path(project), class: 'more'
  /
    <label class="checkbox" style="display: inline; padding-left: 0px; margin-left: 0px; margin-top: 5px; font-size: 70%;">
    <input type="checkbox" style="display: inline; padding-left: 0px; margin-left: 0px; margin-right: 3px;"> Favorite
    </label>
  .row
    .span1{:style => "width: 115px; padding-top: 2px;"}
      %i.icon-eye-open{:style => "margin-top: 1px;"}>
      \:#{project.view_count}
      / = succeed ":" do
      /   %i.icon-envelope-alt{:style => "margin-top: 1px; margin-left: 5px;"}
      / = project.messages.size
      = succeed ":" do
        %i.icon-comment{:style => "margin-top: 1px; margin-left: 5px;"}
      = project.comments.size
    %p.time_ago.pull-right
      %small
        = time_ago_in_words(project.created_at)
        ago