.span9.bigger-shell.pull-right.blue-top
  %h1.info_header.light.blue-text.info_header_3
    = @project.name
  .row{ style: "margin-top:20px;"}
    .span9
      .no-height
        - if current_user?(@project.user)
          = link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_project_path(@project), class: 'my-button-silver', style: 'position:relative; left: 622px; top: -50px;'
          - if @project.expiration_date
            .div{style: "position:relative; left:517px; top:22px;"}
              %i.icon-time.black
              expires on #{@project.expiration_date.strftime("%b %e, %Y")}                                                                                              
        - elsif current_user && current_user.verified?                                                                                                 
          = link_to '<i class="icon-envelope"></i> Contact Owner'.html_safe, "#", class: 'my-button-blue', style: 'position:relative; left: 550px; top: -50px;', id: 'message', data: {blah: @project.user.id}
  .row
    .span8{ style: "padding-left:15px;"}
      %i.icon-beaker{ style: "padding-right:1px;"}
      = truncate(@project.protocol, length: 58)
      |
      = @project.service_need
      .head
        %i.icon-map-marker.green{ style: "padding-left:2px; padding-right:5px;"}
        = country_with_us_shortened(@project.country)
      %i.icon-calendar{:style => "margin-right: 2px;"}
      Start date: #{@project.start_date.strftime("%b %e, %Y")}
      %span{:style => "font-size: 75%;"}
        (#{to_days_ago_or_from_now(@project.days_til_start)})
  %br
  .row
    .span9{ style: "padding-left:15px; width: 670px;"}
      .well
        - if @project.instruments.any?
          %strong Requirements:
          - @project.instruments.order("must_have DESC").each do |instrument|
            %div
              .span2{:style => "font-size: 75%; margin-left: 0px; width: 80px;"}
                #{instrument.must_have ? '<i class="icon-ok"></i> must have'.html_safe : '<i class="icon-leaf gold"></i> nice to have'.html_safe}
              %span{style: "padding-right:5px;"}
                &#8594;
              #{instrument.try(:resource_type)}:
              = instrument.try(:alias)
          %hr
        = simple_format(Rinku.auto_link(@project.description).html_safe)
        %hr
        - if @project.tags.any?
          .small.inline
            %i.icon-tags
            #{raw @project.tags.map { |t| link_to t.name, tag_projects_path(t.name) }.join(', ')}
  - if @project.active
    .row
      .span9{style: "width: 685px;"}
        %p.right
          %small
            Listed on #{@project.created_at.strftime("%D")}
            (#{time_ago_in_words(@project.created_at)} ago)
- if current_user?(@project.user) && !@project.active?
  = link_to 'ACTIVATE PROJECT'.html_safe, project_activate_path(@project), class: 'btn btn-large btn-success'
  %br
  %br

