
  <div class="project-full-well">
    <% if @project.service_need == "Science + Services" %>
      <% back_color = "sci_ser" %>
    <% elsif @project.service_need == "Science" %>
      <% back_color = "sci" %>
    <% elsif @project.service_need == "Services" %>
      <% back_color = "ser" %>
    <% elsif @project.service_need == "Data Analysis" %>
      <% back_color = "dat" %>
    <% elsif @project.service_need == "Clinical Studies" %>
      <% back_color = "cli" %>
    <% else %>
      <% back_color = "def" %>
    <% end %>
    <div class="row" style="padding-left:20px">
      <h2><%= @project.name %> <span class="dark" style="font-size: 70%; float:right;">
        <i class="icon-globe"></i>
        <%= country_with_us_shortened(@project.user.country) %></span> 
      </h2>
      <% if current_user?(@project.user) %>
        <div style="margin-bottom: 8px">
          <i class="icon-edit"></i>
          <%= link_to "Edit", edit_project_path(@project) %>
        </div>
      <% end %>
    </div>
    <div class="row" style="padding-left:20px">
      <h4 style='margin-bottom: 5px;'>
        <div class="service <%= back_color %>"><%= @project.service_need %></div>
        <%= @project.science_type %> 
        
        <% if current_user && current_user != @project.user && current_user.verified? %>
          <div class="pull-right">
            <i class="icon-envelope-alt blue"></i> 
            <%= content_tag "div", id: 'message', title: "Send a direct message to the project owner", style: 'width: 250px; display: inline', 
                data: {blah: @project.user.id} do %>
                send message to the project owner
            <% end %>
          </div>
        <% end %>
      </h4>
    </div>
    
    <div class="row" style="padding-left:20px; margin-bottom: 5px;">
      <i class="icon-calendar" style="margin-right: 2px;"></i> start date: <%= @project.start_date.strftime("%b %e, %Y") %> 
      <span style="font-size: 75%;">(<%= to_days_ago_or_from_now(@project.days_til_start) %>)</span>
    </div>
    <% if @project.instruments.any? %>
    <div class="row">
      <div class="span6">
          <strong>Needs:</strong>
          <% @project.instruments.order("must_have DESC").each do |instrument| %>
            <div>&bull; <%= instrument.alias %> 
              <span style="font-size: 75%;">(<%= instrument.must_have ? '<i class="icon-ok red"></i> must have'.html_safe : 'nice to have' %>)</span></div>
          <% end %>
      </div>
    </div>
    <% end %>
    <div class="row" style="padding-left:20px; width: 520px; margin-top: 10px;">
      <i class="icon-tags"></i> tags: <%= raw @project.tags.map { |t| link_to t.name, tag_path(t.name) }.join(', ') %>
    </div>
    <div class="description">
      <% if current_user?(@project.user) %>
        <div style="height: 0px;">
          <div class="expiration-date">
            expires on <%= @project.expiration_date.strftime("%b %e, %Y")  %><br>
            <%= link_to 'extend +', '#' %>
          </div>
        </div>
      <% end %>
    <%= simple_format(Rinku.auto_link(@project.description).html_safe) %></div>
    <div class="row" style="margin-top: 3px;">
      <div class="span5">
        <i class="icon-eye-open" style="margin-top: 1px;"></i> views: <%= @project.view_count %>
        <i class="icon-envelope-alt" style="margin-top: 1px; margin-left: 20px;"></i> 
        messages: <%= @project.messages.size %>
        <i class="icon-comment" style="margin-top: 1px; margin-left: 20px;"></i> 
        comments: <%= @project.comments.size %>
      </div>
      <p class="time_ago pull-right"><small>Listed <%= time_ago_in_words(@project.created_at) %> ago.</small></p>
    </div>
  </div>

