<div class="span3 project-well">
  <div class="head">
    <h3><%= link_to truncate(project.name, length: 23), project_path(project) %></h3>
    <div style="height: 0;">
      <div class="date">
        <div class="mm">starts in</div>
        <div class="dd"><p class="day"><%= (project.start_date - Date.today).to_i %></p></div>
        <div class="yyyy">days</div>
      </div>
    </div>
  </div>
  <h4><%= truncate(project.science_type, length: 30) %></h4>
  <h4>Owner: <%= link_to "#{truncate(project.user.full_name, length: 22)}", user_path(project.user) %></h4>
  
  <% if project.service_need == "Science + Services" %>
    <% back_color = "sci_ser" %>
  <% elsif project.service_need == "Science" %>
    <% back_color = "sci" %>
  <% elsif project.service_need == "Services" %>
    <% back_color = "ser" %>
  <% elsif project.service_need == "Data Analysis" %>
    <% back_color = "dat" %>
  <% end %>
  <div class="country">
    <%= truncate(project.user.country, length: 30) %>
  </div>
  <div class="service <%= back_color %>"><%= project.service_need %></div>

  
  <p><%= truncate(project.description, length: 195) %> <%= link_to "more", project_path(project), class: 'more' %></p>

  <!-- <label class="checkbox" style="display: inline; padding-left: 0px; margin-left: 0px; margin-top: 5px; font-size: 70%;">
    <input type="checkbox" style="display: inline; padding-left: 0px; margin-left: 0px; margin-right: 3px;"> Favorite
  </label> -->
  <p class="time_ago pull-right"><small>Posted <%= time_ago_in_words(project.created_at) %> ago.</small></p>
</div>