<div class="row">
  <div class="span6 project-full-well">
    <h2><%= @project.name %></h2>
    <h4><%= @project.science_type %></h4>
    <h5>Created: <%= @project.created_at.strftime("%b %e, %Y") %>, Start Date: <%= @project.start_date.strftime("%b %e, %Y")  %></h5>
    <div style="height: 0;">
      <div class="date">
        <div class="mm">starts in</div>
        <div class="dd"><p class="day"><%= (@project.start_date - Date.today).to_i %></p></div>
        <div class="yyyy">days</div>
      </div>
    </div>
    <% if @project.service_need == "Science + Services" %>
      <% back_color = "sci_ser" %>
    <% elsif @project.service_need == "Science" %>
      <% back_color = "sci" %>
    <% elsif @project.service_need == "Services" %>
      <% back_color = "ser" %>
    <% elsif @project.service_need == "Data Analysis" %>
      <% back_color = "dat" %>
    <% end %>
    <div class="service <%= back_color %>"><%= @project.service_need %></div>
    <p><%= @project.description %></p>
  </div>
  <%= render 'users/user', user: @project.user %>
</div>
<% if current_user?(@project.user) %>
<div class="row">
  <div class="span9">
    <%= link_to "Edit", edit_project_path(@project), class: 'btn' %>
    <%= link_to "Remove", project_path(@project), method: :delete, confirm: "Are you sure?", class: 'btn btn-danger' %>
  </div>
</div>
<% end %>
