<div class="row">
  <div class="span6 project-full-well">
    <h2><%= @project.name %> 
      <% if current_user?(@project.user) %>
        <%= link_to "Edit", edit_project_path(@project) %>
      <% end %>
    </h2>
    <h4><%= @project.science_type %></h4>
    <h5>Start Date: <%= @project.start_date.strftime("%b %e, %Y")  %></h5>
    <div style="height: 0;">
      <div class="date">
        <div class="mm">starts in</div>
        <div class="dd"><p class="day"><%= (@project.start_date - Date.today).to_i %></p></div>
        <div class="yyyy">days</div>
      </div>
    </div>
    <% if @project.service_need == "Science + Services" %>
      <% back_color = "sci_ser" %>
    <% elsif @project.service_need == "Science" %>
      <% back_color = "sci" %>
    <% elsif @project.service_need == "Services" %>
      <% back_color = "ser" %>
    <% elsif @project.service_need == "Data Analysis" %>
      <% back_color = "dat" %>
    <% else %>
      <% back_color = "def" %>
    <% end %>
    <div class="service <%= back_color %>"><%= @project.service_need %></div>
    <p><%= @project.description %></p>
    <p class="time_ago pull-right"><small>Posted <%= time_ago_in_words(@project.created_at) %> ago.</small></p>
  </div>
  <%= render 'users/user', user: @project.user %>
</div>

