- @project.bitly_url? ? share_url = @project.bitly_url : share_url = request.url
- share_text = "#{@project.name}"
- tw_link = "https://twitter.com/share?url=#{u(share_url)}&text=#{u(share_text)}&via=Bitbiology"
- title_page = @project.name
- description_page = @project.description
- app_title = "Bitbio Online Science Community"
.smaller-shell
  %h2.info_header.light share this project
  .row{:style => "margin: 5px 0px;"}
    .span3{:style => "margin-left: 10px;"}
      %form{:style => "display:inline;"}
        %i.icon-link
        = text_field_tag("url", "#{share_url}", id: "url-text", rows: 1, style: 'width: 165px; margin-top: 6px;')
  .row.left-margin
    .span3{:style => "width: 120px; margin-left: 5px; margin-top: 0px; margin-bottom: 10px;"}
      = link_to tw_link, target: "_blank", style: 'text-decoration: none;' do
        %i.icon-twitter.bigger.no-decoration
      |
      = link_to "http://www.linkedin.com/shareArticle?mini=true&url=#{u(share_url)}&title=#{u(title_page)}&summary=#{u(description_page)}&source=#{u(app_title)}", target: "_blank", style: 'text-decoration: none;' do
        %i.icon-linkedin.bigger.no-decoration
      |
      = link_to "https://plus.google.com/share?url=#{share_url}", target: "_blank", style: 'text-decoration: none;' do
        %i.icon-google-plus.bigger.no-decoration
      |
      = link_to "mailto: ?subject=#{u("Bitbio Project: "+ @project.name)}&body=#{u(share_url)}", style: 'text-decoration: none;' do
        %i.icon-envelope.bigger.no-decoration
