<% content_for :title do %>
  <%= t('application.root.title_with_tag_line', tag_line: "Science Community, Science Market, and Science Outsourcing") %>
<% end %>
<% content_for :description do %>
  <%= t("application.root.description") %>
<% end %>

    
<div class="span3 pull-left no-left-margin">
  <%= render 'shared/sidebar/project_search' %>
  <% unless @featured_users.empty? %>
    <%= render 'shared/sidebar/featured_users' %>
  <% end %>
</div>

<div class="span9 pull-right">
  <% unless current_user %>
    <%= render 'shared/sign_up_box' %>
  <% end %>
  <%= render 'shared/word_cloud' %>
  <% unless @blogs.empty? %>
    <%= render 'blogs/blogs', blogs: @blogs %>
  <% end %>
  <% unless @events.empty? %>
    <%= render 'events/events', events: @events %>
  <% end %>
</div>
