.row
  .span3
    = link_to image_tag("bitbio_logo.png", alt: "BitBio"), root_url
    = render 'shared/sidebar/image_tagline'
    = render 'shared/sidebar/project_search'
    
    / - unless @featured_users.empty?
    /   = render 'shared/sidebar/featured_users'
  .span9
    - unless current_user
      = render 'shared/sign_up_box'
    = render 'shared/word_cloud'
    / - if @blogs.count > 4
    /   = render 'blogs/blogs', blogs: @blogs
    - unless @events.empty?
      = render 'events/events', events: @events
