.row
  .span3
    = render 'shared/sidebar/image_tagline1'
    = render 'shared/sidebar/project_search'
    
    / - unless @featured_users.empty?
    /   = render 'shared/sidebar/featured_users'
  .span9
    - unless current_user
      = render 'shared/sign_up_box'
    = render 'shared/word_cloud'
    - if @blogs.any?
      = render 'blogs/blogs', blogs: @blogs
    - unless @events.empty?
      = render 'events/events', events: @events
