<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "Science Community, Science Market, and Science Outsourcing") %>
  <% end %>
  <% content_for :description do %>
    <%= t("application.root.description") %>
  <% end %>
<% end %>

<% if current_user %>
  <% if @projects && !@projects.empty? && params[:keyword] %>
    <%= render 'tags/tag_list' %>
    <div class="row" style="margin-top: 10px;">
      <div class="span9">
      <% @projects.each do |project| %>
        <%= render 'project', project: project %>
      <% end %>
      </div>
    </div>
    <%= will_paginate %>
    <hr>
  <% elsif @projects.empty? && params[:keyword] %>
    <div class="row">
      <div class="span9">
        <hr>
          <p style="text-align:center;"><em>***No projects matched your search. Please check back another time or 
          sign up for <%= link_to 'project alert emails', '#' %>.***</em></p>
        <hr>
      </div>
    </div>
  <% end %>
<% elsif params[:keyword] %>
  <div class="row">
    <div class="span9">
      <hr>
        <p style="text-align:center;"><em>***You must be signed in to view project listings. Please 
        <%= link_to 'sign up', new_user_path %> or <%= link_to 'sign in', login_path %>.***</em></p>
        <hr>
    </div>
  </div>
<% end %>

<% unless @projects && !@projects.empty? && params[:keyword] && current_user %>
  <%= render 'info' %>
<% end %>

