<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "Science Community, Science Market, and Science Outsourcing") %>
  <% end %>
  <% content_for :description do %>
    <%= t("application.root.description") %>
  <% end %>
<% end %>

<div class="row">
  <div class="span9">
    <% if @projects && !@projects.empty? && params[:keyword] %>
      <% @projects.each do |project| %>
        <%= render 'project', project: project %>
      <% end %>
    <% elsif @projects.empty? && params[:keyword] %>
    <hr>
      <p><em>***No projects matched your search. Please check back another time or <%= link_to 'sign up', new_user_path %> 
      to receive new project alert emails.***</em></p>
      <hr>
    <% end %>
  </div>
</div>
<%= will_paginate %>

<div class="row" style="margin-top: 10px;">
  <div class="span9">
    <p>
      Your online <strong class="gold">science community</strong> and resource built by you, for you. Whether 
      you are outsourcing science, searching for service providers, collaborating on a research project,
      or looking for assistance, try bitBIO.
    </p>
    <p>
      This is a place to promote your research project, <strong class="gold">access new resources</strong> or providers you 
      may have otherwise not found, and exchange science with your community.
    </p>
    <p>
      Find out what scientific methods other researchers or service providers are using. 
      <strong class="gold">Search for projects</strong> to exchange science advice, opinions, and services. 
    </p>
    <p>
      Learn about new research, methods, and technologies to use for your project and what the science 
      market has to offer. Quickly <span class="gold">promote research</span> questions and answers 
      in the science community to help each other.
    </p>
  </div>
</div>
<hr>

<div class="row" style="margin-top: 10px;">
  <div class="span9 taglines">
    <h1><%= image_tag 'researcher.png' %> Researchers</h1>
    <div class="one_two_three">
      <h4>1. List a project.</h4>
      <h3>2. Promote and share project(s) with the science community.</h3>
      <h2>3. Get feedback, collaborate, find science outsourcing.</h2>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="span9 taglines">
    <h1><%= image_tag 'provider.png' %> Service Providers</h1>
    <div class="one_two_three">
      <h4>1. Search projects.</h4>
      <h3>2. Discuss possibilities and alternative service offerings.</h3>
      <h2>3. Connect with research projects and researchers.</h2>
    </div>
  </div>
</div>
<hr>
<p>
  Why rely on expensive online services to broker your science project when all you really need is 
  access, exposure, and some help from the science community. <%= link_to 'Join', new_user_path %> bitBIO
  and exchange science projects!
</p>
<hr>

