<% content_for :title do %>
  <%= t('application.root.title_with_tag_line', tag_line: "Search for science projects") %>
<% end %>
<% content_for :description do %>
  Browse scientific projects and sort listings to find those that are of interest.
<% end %>

<div class="span3 pull-left no-left-margin">
  <%= render 'shared/sidebar/project_search' %>
</div>


<% if current_user && @projects.any? %>
  <div class="span9 pull-right">
    <%= render 'shared/alerts/search_result_count' %>
  </div>
  <div class="span9 pull-right">
    <% @projects.each do |project| %>
      <%= render 'project', project: project %>
    <% end %>
  </div>
  <div class="span9 pull-right"><%= will_paginate @projects %></div>
<% elsif current_user && @projects.empty? %>
  <div class="span9 pull-right">
    <%= render 'shared/alerts/no_projects' %>
  </div>
<% elsif !current_user.present? %>
  <div class="span9 pull-right">
    <%= render 'shared/alerts/sign_in_notice' %>
  </div>
<% end %>


