<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "Science Community, Science Market, and Science Outsourcing") %>
  <% end %>
  <% content_for :description do %>
    <%= t("application.root.description") %>
  <% end %>
<% end %>

<% if current_user %>
  <% if @projects && !@projects.empty? && params[:search] %>
    <div class="row">
      <div class="span3">
        <%= render 'shared/sidebar/science_search' %>
      </div>
      <div class="span9">
        <%= render 'tags/tag_list' %>
      <% @projects.each do |project| %>
        <%= render 'project', project: project %>
      <% end %>
      
      </div>
    </div>
    <div class="row">
      <div class="span9 offset3"><%= will_paginate %></div>
    </div>
    <hr>
    
  <% elsif @projects.empty? && params[:search] %>
    <div class="row">
      <div class="span3">
        <%= render 'shared/sidebar/science_search' %>
      </div>
      <div class="span9">
        <div class="alert alert-block my-alert" style="margin-bottom: 10px; margin-top: 10px;">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4>No projects matched your search.</h4>
           Please check back another time or sign up for <%= link_to 'project alert emails', '#' %>.
        </div>
      </div>
    </div>
  <% end %>
<% elsif params[:search] %>
  <div class="row">
    <div class="span3">
      <%= render 'shared/sidebar/science_search' %>
    </div>
    <div class="span9 pull-right">
      <div class="alert alert-block my-alert" style="margin-bottom: 10px; margin-top: 10px;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Notice!</h4>
        You must be signed in to search or create project listings. Please 
        <a href="#signupModal" data-toggle="modal">sign up</a>
        or
        <a href="#loginModal" data-toggle="modal" class="loginlink">sign in</a>.
      </div>
    </div>
  </div>
<% end %>
<% unless @projects && !@projects.empty? && params[:search] && current_user %>
  <div class="row">
    <div class="span3">
      <%= render 'shared/sidebar/science_search' %>
      <%= render 'shared/sidebar/featured_users' %>
    </div>
    <div class="span9">
      <%= render 'blogs/blogs', blogs: @blogs %>
      <%= render 'shared/word_cloud' %>
    </div>
  </div>
<% end %>

