<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "#{@project.name}") %>
  <% end %>
  <% content_for :description do %>
    <%= @project.name %> - <%= @project.description %>
  <% end %>
<% end %>


<div class="row">
  <div class="span9 pull-right">
    <%= render 'projects/sharing_buttons' %>
    <%= render 'projects/project_full' %>
    <hr>
    <%= render 'comments/comments' %>
    <%= render 'comments/form_info' %>
    <br>
  </div>
</div>