- if !ENV['STAGING'].present? || Rails.env.development?
  - content_for :title do
    = t('application.root.title_with_tag_line', tag_line: "#{@project.name}")
  - content_for :description do
    = @project.name
    \- #{@project.description}
.row
  .span3
    - if @project.active?
      = render 'projects/sharing_buttons'
    - else
      = render "projects/progress", stage: "confirm"
  .span9
    - if current_user
      = render 'messages/form'
    %h2.underline-header.bottom-margin projects
    = render 'projects/project_full'
    - if @project.active?
      = render 'comments/comments'
      = render 'comments/form_info'
    %br
    