<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "#{@project.name}") %>
  <% end %>
  <% content_for :description do %>
    <%= @project.name %> - <%= @project.description %>
  <% end %>
<% end %>

<div class="row" style="margin-bottom: 5px;">
  <div class="span9">
    <%= link_to 'â† back', projects_path %>
  </div>
</div>
<%= render 'projects/project_full' %>
<hr>

<% unless @comments.empty? %>
  <% @comments.each do |comment| %>
    <div class="row">
      <div class="span9 comment-well">
        <p>
          <%= comment.content %>
          <% if comment.user.account_type == 'Provider' %>
          <i class="icon-home"></i>
          <% elsif comment.user.account_type == 'Researcher' %>
          <i class="icon-user"></i>
          <% end %>
          <%= link_to "#{comment.user.full_name}", comment.user %>
          <small>posted <%= time_ago_in_words(comment.created_at) %> ago.</small>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
<div class="row">
  <div class="span9 new-comment-well">
  <% if current_user %>
      <%= form_for @comment do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
  			<%= f.hidden_field :project_id, value: @project.id %>
  			<%= f.hidden_field :user_id, value: current_user.id %>

		    <%= f.text_area :content, style: 'width: 450px;', rows: 2, 
		        placeholder: "Leave a comment..." %> 
        <%= f.submit "Submit Comment", class: "btn", disable_with: 'Submitting...' %>
      <% end %>  
  <% else %>
    <em><%= link_to 'Sign up', new_user_path %> to leave a comment.</em>
  <% end %>
  </div>
</div>
