<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "#{@project.name}") %>
  <% end %>
  <% content_for :description do %>
    <%= @project.name %> - <%= @project.description %>
  <% end %>
<% end %>

<% if current_user %>
<div class="row" style="margin-top: 10px;">
  <div class="span4">
    <%= link_to "&larr; back".html_safe, :back %>
  </div>
</div>
<% end %>

<%= render 'projects/sharing_buttons' %>

<%= render 'projects/project_full' %>
<hr>
<% if current_user %>
  <% unless @comments.empty? %>
    <% @comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  <% end %>
<% end %>
<div class="row">
  <div class="span9 new-comment-well">
  <% if current_user %>
      <%= render 'comments/form' %>
  <% else %>
    <em><%= link_to 'Sign up', new_user_path %> or <%= link_to 'sign in', login_path %> to view comments, 
      leave a comment, or send a direct message to the project owner.</em>
  <% end %>
  </div>
</div>
