<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "#{@project.name}") %>
  <% end %>
  <% content_for :description do %>
    <%= @project.name %> - <%= @project.description %>
  <% end %>
<% end %>

<div class="row" style="margin-bottom: 5px;">
  <%= link_to 'â† back', projects_path %>
</div>
<%= render 'project_full' %>

<div class="row">
  <div class="span9 new-comment-well">
    <%= form_for @comment do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="row">
        <div class="span2">
  				<label>Comment:</label>
  			</div>
  			<div class="span6">
  		    <%= f.text_area :content, class: "span3", class: 'span4', rows: 7, 
  		        placeholder: "Leave a comment..." %> 
  			</div>
      </div>
      <div class="row">
        <div class="span9">
          <%= f.submit "Submit Comment", class: "btn btn-success", disable_with: 'Submitting...' %>
        </div>
      </div>
    <% end %>
    
  </div>
</div>

<% unless @comments.empty? %>
  <% @comments.each do |comment| %>
    <div class="row">
      <div class="span9 comment-well">
        <%= comment.content %>
      </div>
    </div>
  <% end %>
<% end %>

