- if !ENV['STAGING'].present? || Rails.env.development?
  - content_for :title do
    = t('application.root.title_with_tag_line', tag_line: "#{params[:tag]} tags")
  - content_for :description do
    Search for BitBio scientific services or projects tagged with #{params[:tag]}.
- if current_user
  - if @projects && @projects.any?
    .row{:style => "margin-top: 10px;"}
      .span9.pull-right
        = render 'tag_list'
        - @projects.each do |project|
          = render 'projects/project', project: project
        .row
          .span9= will_paginate @projects
    %hr/
  - elsif @projects.empty?
    .row
      .span9.pull-right
        %hr/
        %p{:style => "text-align:center;"}
          %em
            ***No projects matched your search. Please check back another time or
            sign up for #{link_to 'project alert emails', '#'}.***
        %hr/
- else
  .row
    .span9.pull-right
      = render 'shared/alerts/sign_in_notice'