<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "#{params[:tag]} tags") %>
  <% end %>
  <% content_for :description do %>
    Search for BitBio scientific services or projects tagged with <%= params[:tag] %>.
  <% end %>
<% end %>


<% if @blogs && @blogs.any? %>
  <div class="row">
    <div class="span9 pull-right">
      <% if current_user %>
      <div style="height: 0px;"><%= link_to "<i class='icon-plus'></i> ADD BLOG".html_safe, new_blog_path, class: 'my-button-blue',
      style: 'position:relative; left: 591px; top: -40px; z-index: 12;' %></div>
      <% end %>
      <%= render 'tag_list_blogs' %>
    <% @blogs.each do |blog| %>
      <%= render 'blogs/blog_list_item', blog: blog %>
    <% end %>
    <div class="row"><div class="span9"><%= will_paginate @blogs %></div></div>
    </div>
  </div>
<% elsif @blogs.empty? %>
  <div class="row">
    <div class="span9 pull-right">
      <hr>
        <p style="text-align:center;"><em>***No blogs matched your search. Please check back another time or 
        sign up for <%= link_to 'project alert emails', '#' %>.***</em></p>
      <hr>
    </div>
  </div>
<% end %>
