<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "#{params[:tag]} tags") %>
  <% end %>
  <% content_for :description do %>
    Search for BitBio scientific services or projects tagged with <%= params[:tag] %>.
  <% end %>
<% end %>

<div class="row">
  <div class="span3">
    <%= render 'shared/sidebar/image_tagline1' %>
  </div>
  <div class="span9">
    <h2 class="underline-header bottom-margin">events</h2>
    <% if @events && @events.any? %>
      <% if current_user %>
      <div style="height: 0px;"><%= link_to "<i class='icon-plus'></i> ADD EVENT".html_safe, new_event_path, class: 'my-button-blue',
      style: 'position:relative; left: 587px; top: -40px; z-index: 12;' %></div>
      <% end %>
      <%= render 'tag_list_events' %>
    <% @events.each do |event| %>
      <%= render 'events/event_list_item', event: event %>
    <% end %>
    <div class="row"><div class="span9"><%= will_paginate @events %></div></div>
    <% elsif @events.empty? %>
      <hr>
        <% if current_user %>
          <p style="text-align:center;"><em>***No events matched your search. Please check back another time or 
          subscribe to receive <%= link_to 'project alert emails', user_settings_path(current_user) %>.***</em></p>
        <% else %>
          <p style="text-align:center;"><em>***No events matched your search. Please check back another time or 
          login and adjust your settings to receive <%= link_to 'project alert emails', login_path %>.***</em></p>
        <% end %>
      <hr>
    <% end %>
  </div>
</div>
