<%= render 'tag_list' %>

<% if current_user %>
  <% if @projects && !@projects.empty? %>
    <div class="row" style="margin-top: 10px;">
      <div class="span9">
      <% @projects.each do |project| %>
        <%= render 'projects/project', project: project %>
      <% end %>
      </div>
    </div>
    <%= will_paginate @projects %>
    <hr>
  <% elsif @projects.empty? %>
    <div class="row">
      <div class="span9">
        <hr>
          <p style="text-align:center;"><em>***No projects matched your search. Please check back another time or 
          sign up for <%= link_to 'project alert emails', '#' %>.***</em></p>
        <hr>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="span9">
      <hr>
        <p style="text-align:center;"><em>***You must be signed in to view project listings. Please 
        <%= link_to 'sign up', new_user_path %> or <%= link_to 'sign in', login_path %>.***</em></p>
        <hr>
    </div>
  </div>
<% end %>

<% unless @projects && !@projects.empty? && current_user %>
  <%= render 'projects/info' %>
<% end %>