<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "#{params[:tag]} tags") %>
  <% end %>
  <% content_for :description do %>
    Search for bitBIO scientific services or projects tagged with <%= params[:tag] %>.
  <% end %>
<% end %>

<% if current_user %>
  <% if @projects && !@projects.empty? %>
    <%= render 'tag_list' %>
    <div class="row" style="margin-top: 10px;">
      <div class="span9">
      <% @projects.each do |project| %>
        <%= render 'projects/project', project: project %>
      <% end %>
      </div>
    </div>
    <%= will_paginate @projects %>
    <hr>
  <% elsif @projects.empty? %>
    <div class="row">
      <div class="span9">
        <hr>
          <p style="text-align:center;"><em>***No projects matched your search. Please check back another time or 
          sign up for <%= link_to 'project alert emails', '#' %>.***</em></p>
        <hr>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="span9">
      <div class="alert alert-block my-alert" style="margin-bottom: 10px; margin-top: 10px;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Notice!</h4>
        You must be signed in to search or create project listings. Please 
        <%= link_to 'sign up', new_user_path %> or <%= link_to 'sign in', login_path %>.
      </div>
    </div>
  </div>
<% end %>
