<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "#{params[:tag]} tags") %>
  <% end %>
  <% content_for :description do %>
    Search for Bitbio scientific services or projects tagged with <%= params[:tag] %>.
  <% end %>
<% end %>

<% if current_user %>
  <% if @projects && @projects.any? %>
    <div class="row">
      <div class="span9 pull-right">
        <%= render 'tag_list_projects' %>
      </div>
    </div>
    <div class="row">
      <div class="span9 pull-right">
      <% @projects.each do |project| %>
        <%= render 'projects/project', project: project %>
      <% end %>
      <div class="row"><div class="span9"><%= will_paginate @projects %></div></div>
      </div>
    </div>
  <% elsif @projects.empty? %>
    <div class="row">
      <div class="span9 pull-right">
        <%= render 'shared/alerts/no_projects' %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="span9 pull-right">
      <%= render 'shared/alerts/sign_in_notice' %>
    </div>
  </div>
<% end %>
