<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "#{params[:tag]} tags") %>
  <% end %>
  <% content_for :description do %>
    Search for Bitbio scientific services or projects tagged with <%= params[:tag] %>.
  <% end %>
<% end %>


<% if @events && @events.any? %>
  <div class="row">
    <div class="span9 pull-right">
      <% if current_user %>
      <div style="height: 0px;"><%= link_to "<i class='icon-plus'></i> ADD EVENT".html_safe, new_event_path, class: 'my-button-blue',
      style: 'position:relative; left: 587px; top: -40px; z-index: 12;' %></div>
      <% end %>
      <%= render 'tag_list_events' %>
    <% @events.each do |event| %>
      <%= render 'events/event_list_item', event: event %>
    <% end %>
    <div class="row"><div class="span9"><%= will_paginate @events %></div></div>
    </div>
  </div>
<% elsif @events.empty? %>
  <div class="row">
    <div class="span9 pull-right">
      <hr>
        <p style="text-align:center;"><em>***No events matched your search. Please check back another time or 
        sign up for <%= link_to 'project alert emails', '#' %>.***</em></p>
      <hr>
    </div>
  </div>
<% end %>