<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "#{params[:tag]} tags") %>
  <% end %>
  <% content_for :description do %>
    Search for bitBIO scientific services or projects tagged with <%= params[:tag] %>.
  <% end %>
<% end %>


<% if @blogs && @blogs.any? %>
  <div class="row" style="margin-top: 10px;">
    <div class="span9 pull-right">
      <%= render 'tag_list_blogs' %>
    <% @blogs.each do |blog| %>
      <%= render 'blogs/blog_list_item', blog: blog %>
    <% end %>
    <div class="row"><div class="span9"><%= will_paginate @blogs %></div></div>
    </div>
  </div>
  <hr>
<% elsif @blogs.empty? %>
  <div class="row">
    <div class="span9 pull-right">
      <hr>
        <p style="text-align:center;"><em>***No blogs matched your search. Please check back another time or 
        sign up for <%= link_to 'project alert emails', '#' %>.***</em></p>
      <hr>
    </div>
  </div>
<% end %>
