<footer>
  <div class="container">
    <div class="row">
  		<div class="span2">
  		  © bitBIO 2013
  		</div>
  		<div class="span10">
  			<ul>
					<li class="title"><strong>Legal Stuff</strong></li>
					<li><%= link_to "Terms of Service", '#' %></li>
					<li><%= link_to "Privacy Policy", '#' %></li>
				</ul>
				<ul>
					<li class="title"><strong>Support</strong></li>
					<li><%= link_to "Contact Us", '#' %></li>
					<li><%= link_to "FAQ's", '#' %></li>
				</ul>
				<ul>
					<li class="title"><strong>Company</strong></li>
					<li><%= link_to "About Us", '#' %></li>
				</ul>
  		</div>
      <div style="padding-left:20px;">
        <%= render 'shared/info' %>
      </div>

  </div>
</footer>
