- if action_name == "coming_soon" || controller_name == "contacts"

- else
  %footer
    %hr{ style: "margin-bottom:5px;"}
    .row
      .span2
        .smaller
          © BitBio 2013
      .span10
        - unless action_name == "coming_soon" || controller_name == "contacts"
          %ul
            %li.title
              %strong Legal Stuff
            .smaller
              %li= link_to "Terms of Service", terms_path
              %li= link_to "Privacy Policy", privacy_path
          %ul
            %li.title
              %strong Support
            .smaller
              %li= mail_to "info@bitbio.org", "Contact Us", target: "_blank"
          %ul
            %li.title
              %strong Company
            .smaller
              %li= link_to "About", about_path
              %li= link_to "How It Works", how_it_works_path
