<header>
	<div class="navbar">
	  <div class="navbar-inner" id="main-navbar">
	    <div class="container">
	      <div class="row" style="padding-left: 0px;">
	        <div class="span2" style="width: 110px; padding-top: 5px;">
	          <%= link_to "<i class='icon-beaker'></i>bitBIO".html_safe, root_path, id: 'logo' %>

  	      </div>
  	      <div class="span3" style="width: 240px; padding-left: 10px;">
            <ul class="breadcrumb">
              <li><%= link_to 'Home', root_path %><span class="divider">/</span></li>

              <% if controller_name == 'projects' && action_name == 'index' %>
                <li class="active">Projects</li>
              <% elsif controller_name == 'messages' %>
                <li class="active">Messages</li>
              <% elsif controller_name == 'projects' && action_name == 'show' %>
                <li><a href="/projects">Projects<span class="divider">/</span></a></li>
                <li class="active"><%= @project.name %></li>
              <% elsif controller_name == 'users' && action_name == 'researchers_index' %>
                <li class="active">Researchers</li>
              <% elsif controller_name == 'users' && action_name == 'providers_index' %>
                <li class="active">Providers</li>
              <% elsif controller_name == 'users' && action_name == 'show' %>
                <% if @user.researcher? %>
                  <li><a href="/researchers">Researchers<span class="divider">/</span></a></li>
                <% elsif @user.provider? %>
                  <li><a href="/providers">Providers<span class="divider">/</span></a></li>
                <% end %>
                <li class="active"><%= @user.full_name %></li>
              <% elsif controller_name == 'sessions' && (action_name == 'new' || action_name == 'create') %>
                <li class="active">Sign In</li>
              <% elsif controller_name == 'users' && (action_name == 'new' || action_name == 'create') %>
                <li class="active">New Account</li>
              <% elsif controller_name == 'users' && (action_name == 'edit' || action_name == 'update') %>
                <li class="active">Editing Account</li>
              <% elsif controller_name == 'projects' && (action_name == 'edit' || action_name == 'update') %>
                <li class="active">Editing Project</li>
              <% elsif controller_name == 'projects' && (action_name == 'new' || action_name == 'create') %>
                <li class="active">New Project</li>
              <% end %>
            </ul>
          </div>
          <div class="span7">
            <h1>
              Science Community and Science Search Engine 
              <i class="icon-search"></i></h1>
          </div>
	      </div>

        <div class="row" style="margin-top: 5px;">
          <div class="span9 offset3">  
            <div id="mynav-list">
              <ul class="unstyled">
                <li id="community">
                  <ul class="main-nav-set unstyled">
                    <li><%= link_to 'community', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'ask a question', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'invite colleagues', '#' %></li>
                  </ul>
                </li>
                <li id="labs">
                  <ul class="main-nav-set unstyled">
                    <li><%= link_to 'institutes / labs', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'all labs', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'map of labs', '#' %></li>
                  </ul>
                </li>
                <li id="blogs">
                  <ul class="main-nav-set unstyled">
                    <li><%= link_to 'blogs', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'all blogs', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'weekly newsletter', '#' %></li>
                  </ul>
                </li>
                <li id="conferences">
                  <ul class="main-nav-set unstyled">
                    <li><%= link_to 'conferences', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'all conferences', '#' %></li>
                  </ul>
                </li>
                <li id="jobs">
                  <ul class="main-nav-set unstyled">
                    <li><%= link_to 'jobs', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'find jobs', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'hire now', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'jobs newsletter', '#' %></li>
                  </ul>
                </li>
              </ul>
            </div>
          <% if current_user %>
    				<ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="name" data-toggle="dropdown" 
                style="max-width: 160px;">
    							Welcome, <%= current_user.first_name %>!
    							<% if current_user.new_message_count != 0 %>
    							  <span class="gold">(<%= current_user.new_message_count %>)</span> 
    							<% end %>
    							<b class="caret"></b>
    						</a>
                <ul class="dropdown-menu" style='min-width: 100px; width: 160px; padding-left: 0px;'>
                  <li>
                    <a href="<%= user_path(current_user) %>">
                    <i class="icon-user" style="margin-right: 6px;"></i> My Profile</a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="icon-wrench" style="margin-right: 6px;"></i> Settings
                    </a>
                  </li>
                  <li>
                    <a href="<%= user_messages_path(current_user) %>">
                    <i class="icon-envelope" style="margin-right: 6px;"></i> Messages
                    <% if current_user.new_message_count != 0 %>
      							  (<%= current_user.new_message_count %>)
      							<% end %>
                    </a>
                  </li>
                  <% if current_user.projects.any? %>
                    <li>
                      <a href="<%= user_project_listings_path(current_user) %>">
                      <i class="icon-beaker" style="margin-right: 6px;"></i> My project listings</a>
                    </li>
                  <% end %>
                  <li class="divider"></li>
                  <li>
                    <a href="<%= logout_path %>" data-method="delete" rel="nofollow">
                    <i class="icon-ban-circle" style="margin-right: 6px;" 
                    method="delete"></i> Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            <%= link_to '<i class="icon-plus icon-white"></i> List a Project'.html_safe, new_project_path, 
                class: 'pull-right my-button', style: 'position: relative; z-index: 6; left: 10px; top: -1px;' %>

  				<% else %>
  					<ul class="nav pull-right" style="margin-left: 0px;">
  						<li>
  							<%= link_to "Log In", login_path %>
  						</li>
  					</ul>
  					<%= link_to "Sign Up", new_user_path, class: "my-button pull-right", style: 'position: relative; z-index: 6; top: -1px;' %>
  				<% end %>
          </div>
		    </div>
	    </div>
	  </div>
	</div>
</header>
