<header>
	<div class="navbar">
	  <div class="navbar-inner" id="main-navbar">
	    <div class="container">
	      <div class="row" style="padding-left: 0px;">
	        <div class="span2" style="width: 110px; padding-top: 5px;">
	          <%= link_to "<i class='icon-beaker'></i>bitBIO".html_safe, root_path, id: 'logo' %>

  	      </div>
  	      <div class="span3" style="width: 240px; padding-left: 10px;">
            <ul class="breadcrumb">
              <%= bread_crumb_list_items(request.path) %>
            </ul>
          </div>
          <div class="span7">
            <h1>
              Science Community and Science Search Engine 
              <i class="icon-search"></i></h1>
          </div>
	      </div>

        <div class="row" style="margin-top: 5px;">
          <div class="span1" style="margin-top: 10px; width: 45px;">
            <div id="twitter-follow" style="display:inline; margin-top: 7px;">
              <a href="https://twitter.com/bit_bio" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @bit_bio</a>
            </div>
          </div>
          <div class="span2" style="margin-top: 12px; width: 155px;">
            for daily project alerts.
          </div>
          <div class="span9">  
            <div id="mynav-list">
              <ul class="unstyled">
                <li id="community">
                  <ul class="main-nav-set unstyled">
                    <li><%= link_to 'community', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'ask a question', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'invite colleagues', '#' %></li>
                  </ul>
                </li>
                <li id="labs">
                  <ul class="main-nav-set unstyled">
                    <li><%= link_to 'labs', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'all labs', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'map of labs', '#' %></li>
                  </ul>
                </li>
                <li id="blogs">
                  <ul class="main-nav-set unstyled">
                    <li><%= link_to 'blogs', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'all blogs', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'weekly newsletter', '#' %></li>
                  </ul>
                </li>
                <li id="conferences">
                  <ul class="main-nav-set unstyled">
                    <li><%= link_to 'conferences', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'all conferences', '#' %></li>
                  </ul>
                </li>
                <li id="jobs">
                  <ul class="main-nav-set unstyled">
                    <li><%= link_to 'jobs', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'find jobs', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'hire now', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'jobs newsletter', '#' %></li>
                  </ul>
                </li>
                <li id="science">
                  <ul class="main-nav-set unstyled">
                    <li><%= link_to 'search', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'service listings', '#' %></li>
                    <li style="width: 110px;"><%= link_to 'project listings', '#' %></li>
                  </ul>
                </li>
              </ul>
            </div>
          <% if current_user %>
    				<ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="name" data-toggle="dropdown" 
                style="max-width: 160px; padding-right:0px; padding-left:0px;">
    							Welcome, <%= current_user.first_name %>!
    							<% if current_user.new_message_count != 0 %>
    							  <span class="gold">(<%= current_user.new_message_count %>)</span> 
    							<% end %>
    							<b class="caret"></b>
    						</a>
                <ul class="dropdown-menu" style='min-width: 100px; width: 160px; padding-left: 0px;'>
                  <li>
                    <a href="<%= user_path(current_user) %>">
                    <i class="icon-user" style="margin-right: 6px;"></i> My Profile</a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="icon-wrench" style="margin-right: 6px;"></i> Settings
                    </a>
                  </li>
                  <li>
                    <a href="<%= user_messages_path(current_user) %>">
                    <i class="icon-envelope" style="margin-right: 6px;"></i> Messages
                    <% if current_user.new_message_count != 0 %>
      							  (<%= current_user.new_message_count %>)
      							<% end %>
                    </a>
                  </li>
                  <% if current_user.projects.any? %>
                    <li>
                      <a href="<%= user_project_listings_path(current_user) %>">
                      <i class="icon-beaker" style="margin-right: 6px;"></i> My project listings</a>
                    </li>
                  <% end %>
                  <li class="divider"></li>
                  <li>
                    <a href="<%= logout_path %>" data-method="delete" rel="nofollow">
                    <i class="icon-ban-circle" style="margin-right: 6px;" 
                    method="delete"></i> Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            <%= link_to '<i class="icon-plus icon-white"></i> LIST PROJECT'.html_safe, new_project_path, 
                class: 'pull-right my-button', style: 'padding-top:6px; padding-bottom:4px;' %>

  				<% else %>
  				  <ul class="nav pull-right" style="margin-left: 0px;">
  						<li>
  							<a href="#loginModal" data-toggle="modal" class="loginlink" style="padding-right:0px;">Log in</a>
  						</li>
  					</ul>
  					<a href="#signupModal" class="my-button pull-right" data-toggle="modal">Sign Up</a>
  				<% end %>
          </div>
		    </div>
	    </div>
	  </div>
	</div>
</header>
