<div class="span9">  
  <div id="mynav-list">
    <ul class="unstyled">
      <li id="community">
        <ul class="main-nav-set unstyled">
          <li><%= link_to 'community', '#' %></li>
          <!-- <li style="width: 120px;"><%= link_to 'ask a question', '#' %></li> -->
          <li style="width: 120px;"><%= link_to 'invite colleagues', new_invitation_path %></li>
        </ul>
      </li>
      <li id="labs">
        <ul class="main-nav-set unstyled">
          <li><%= link_to 'labs', facilities_path %></li>
          <li style="width: 120px;"><%= link_to 'map of facilities', facilities_path %></li>
        </ul>
      </li>
      <li id="blogs">
        <ul class="main-nav-set unstyled">
          <li><%= link_to 'blogs', blogs_path %></li>
          <li style="width: 120px;"><%= link_to 'create blog', new_blog_path %></li>
          <li style="width: 120px;"><%= link_to 'all blogs', blogs_path %></li>
          <!-- <li style="width: 120px;"><%= link_to 'weekly newsletter', '#' %></li> -->
        </ul>
      </li>
      <li id="events">
        <ul class="main-nav-set unstyled">
          <li><%= link_to 'events', events_path %></li>
          <li style="width: 120px;"><%= link_to 'add event', new_event_path %></li>
          <li style="width: 120px;"><%= link_to 'all events', events_path %></li>
        </ul>
      </li>
      <!-- <li id="jobs">
        <ul class="main-nav-set unstyled">
          <li><%= link_to 'jobs', '#' %></li>
          <li style="width: 120px;"><%= link_to 'find jobs', '#' %></li>
          <li style="width: 120px;"><%= link_to 'hire now', '#' %></li>
          <li style="width: 120px;"><%= link_to 'jobs newsletter', '#' %></li>
        </ul>
      </li> -->
      <li id="science">
        <ul class="main-nav-set unstyled">
          <li><%= link_to 'search', projects_path %></li>
          <!-- <li style="width: 120px;"><%= link_to 'service listings', services_path %></li> -->
          <li style="width: 120px;"><%= link_to 'project listings', projects_path %></li>
        </ul>
      </li>
    </ul>
  </div>