<!DOCTYPE html>
<html>
<head>
  <% if !ENV['STAGING'].present? || Rails.env.development? %>
    <link rel="image_src" href="<%= image_path('logo_120x120.png') %>" />
    <title><%= content_for?(:title) ? yield(:title) : t('application.root.title') %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('application.root.description') %>">
  <% else %>
    <title>bitBIO Staging Site</title>
  <% end %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/flick/jquery-ui.css", "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= render 'layouts/google_analytics' %>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Londrina+Shadow' rel='stylesheet' type='text/css'>
</head>
<body>
  <% unless action_name == "coming_soon" || controller_name == "contacts" %>
    <%= render 'layouts/header' %>
  <% end %>
  <div class="container" id="<%= controller_name %>_<%= action_name %>" style="min-height: 400px;">
  	<div class="row">
    	<div class="span12">
    	  <div class="span9 pull-right">
    	    <% unless action_name == "coming_soon" || controller_name == "contacts" %>
      	    <% flash.each do |name, msg| %>
      	       <div class="alert alert-<%= name == :notice ? "success" : "error" %>" style="margin-top: 10px;">
           	     <a class="close" data-dismiss="alert">×</a>
           	     <%= msg %>
      	       </div>
          	<% end %>
        	<% end %>
    	  </div>

      	<% if current_user %>
        	<%= render 'messages/form' %>
        <% end %>
        
        <%= render 'shared/resource_header' %>
        
    	  <%= yield %>
    	</div>
  	</div>
  </div>
<% unless current_user %>
  <!-- Modal -->
  <%= render 'users/sign_up_modal' %>
  <%= render 'users/login_modal' %>
<% end %>
<%= render 'layouts/footer' %>
<% if request.path == '/' %>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<% end %>
<% if controller_name == "facilities" && action_name == "index" %>
  <%= yield :scripts %>
<% end %>
</body>
</html>
