<!DOCTYPE html>
<html>
<head>
  <% if !ENV['STAGING'].present? || Rails.env.development? %>
    <link rel="image_src" href="<%= image_path('bitbio_logo.png') %>" />
    <title><%= content_for?(:title) ? yield(:title) : t('application.root.title') %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('application.root.description') %>">
  <% else %>
    <title>bitBIO Staging Site</title>
  <% end %>
  
  <title></title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/flick/jquery-ui.css", "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= render 'layouts/google_analytics' %>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container" id="<%= controller_name %>_<%= action_name %>">
  	<div class="row">
  	  <div class="span3" id="sidebar">
  	    <div style="height: 0px;">
  	     <div id="twitter-follow">
     	    <a href="https://twitter.com/bit_bio" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @bit_bio</a>
  	     </div>
  	     <div id="twitter-text">for daily project alerts.</div>
  	    </div>
  	    <%= request.location.country %>
    	  <%= render 'shared/sidebar' %>
    	</div>
    	<div class="span9">
    	  <% flash.each do |name, msg| %>
  	       <div class="alert alert-<%= name == :notice ? "success" : "error" %>" style="margin-top: 20px;">
       	     <a class="close" data-dismiss="alert">×</a>
       	     <%= msg %>
  	       </div>
      	<% end %>
      	
      	<% if current_user %>
        <!-- Sending a message -->
          <%= render 'messages/form' %>
        <% end %>
        
      	
    	  <%= yield %>
    	</div>
  	</div>
  </div>
  <%= render 'layouts/footer' %>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>
